:local {
  .loader_box {
    position: fixed;
    height: 100%;
    width:100%;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    z-index: 100;
  }
  .loader {
    position: fixed;
    height: 100%;
    width:100%;
    top:0;
    right:0;
    left:0;
    bottom: 0;
  }
  .loader_anim-enter {
    opacity: 0.01;
  }

  .loader_anim-enter.loader_anim-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .loader_anim-leave {
    opacity: 1;
  }

  .loader_anim-leave.loader_anim-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}