{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-es2015",
    "@babel/preset-stage-0",
    "@babel/preset-stage-2",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["Chrome >=59", "IE >= 9"]
        },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["import", { "libraryName": "antd", "style": "css" }],
    "@babel/proposal-object-rest-spread"
  ]
}
