{
  "plugins": ["json", "jest"],
  "extends": ["airbnb", "standard", "plugin:jest/recommended"],
  "rules": {
    // https://github.com/yannickcr/eslint-plugin-react/issues/1389
    "react/no-typos": ["warn"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
