:local {
  .container {
    color: #4F4F4F;
    padding: 30px 35px;
    position: relative;
    &:hover .topRight {
      opacity: 1;
    }
  }
  .loader_wrapper {
    background: white;
    opacity: 0.8;
    z-index: 2;
  }
  .circle_loader {
    top: 35%;
    left: 40%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: #6FCF97;
    animation: loadspinner 1.2s infinite linear;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 114px;
    height: 114px;
  }
  .checkmark {
    
    &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }
    
    &:after {
      opacity: 1;
      height: 57px;
      width: 28.5px;
      transform-origin: left top;
      border-right: 3px solid #6FCF97;
      border-top: 3px solid #6FCF97;
      content: '';
      left: 28.5px;
      top: 57px;
      position: absolute;
    }
  }
  .load_complete {
    -webkit-animation: none;
    animation: none;
    border-color: #6FCF97;
    transition: border 500ms ease-out;
  }
  .hr_divider {
    border: none;
    border-bottom: 5px solid #E0E0E0;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
  }
  .check, .edit, .trash {
    transition: all 0.2s ease;
    width: 54px;
  }
  .topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 220px;
    opacity: 0.8;
    border-left: 3px solid #E0E0E0;
    border-bottom: 3px solid #E0E0E0;
    font-size: 12px;
    transition: all 0.3s ease;
    .check:hover {
      color: #6FCF97;
    }
    .edit:hover {
      color: #F2C94C;
    }
    .trash:hover {
      color: #EB5757;
    }
    &:hover {
      opacity: 1;
    }
  }
  .hub_name {
    hyphens: auto;
    font-size: 17px;
    p span {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .city {
    font-weight: bold;
    .hub_box {
      z-index: 100;
      overflow: visible;
    }
    p {
      margin-top: 8px;
    }
    span {
      background-position: center;
      background-size: cover;
    }
  }
  .margin_right {
    margin-right: 14px;
  }
  .margin_left {
    margin-left: 14px;
  }
  .routeIcon {
    font-size: 25px;
  }
  .smallText {
    font-size: 12px;
  }
  .bigText {
    font-size: 19px;
    text-align: right;
    font-weight: bold;
  }
  .ett {
    span {
      font-size: 12px
    }
  }
  .top_box {
    max-height: 75px !important;
    padding-bottom: 15px;
    margin-bottom: 28px;
    i {
      font-size: 28px;
    }
    p {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .middle_top_box_quote {
    font-size: 14px !important;
    span i {
      margin-right: 6px !important;
    }
  }
  .middle_top_box {
    border-bottom: 2px solid #E0E0E0; 
    max-height: 64px !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
    i {
      font-size: 12px;
    }
    b {
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 8px;
    }
    p {
      font-size: 12px;
      color: #8A8A8A;
      margin: 0;
    }
    h4 {
      margin: 0;
    }
    hr {
      border: none;
      border-left: 2px solid #E0E0E0;
      width: 1px;
      margin: 0 auto;
      min-height: 48px;
    }
  }
  .middle_bottom_box {
    padding-bottom: 20px;
    max-height: 60px !important;
    border-bottom: 2px solid #E0E0E0; 
    margin-bottom: 18px;
    b {
      margin-bottom: 7px;
    }
    .carriages {
      p {
        margin: 0;
        font-size: 14px;
      }
      i {
        font-size: 17px;
        margin-right: 7px;
      }
    }
  }
  .bottom_box {
    p {
      font-size: 12px;
      margin: 0;
    }
    i {
      margin-right: 4px;
    }
  }
  .green_icon {
    width: 35px;
    height: 30px;
    color: white;
  }
  .darkgreen {
    color: #228150;
  }
  .lightgrey {
    color: #E0E0E0;
  }
  .grey {
    color: #8A8A8A;
  }
  .noDisplay {
    display: none;
  }
  .ref_row_card {
    margin-bottom: 22px;
  }
  .user_info {
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 12px;
      letter-spacing: 0.02em;
    }
  }
  .card_link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .price_style {
    overflow-wrap: normal;
  }

  @keyframes iGCh-wwluhv9K4zoxP9IA {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes _3Z2kU0nRyeQdAddZHLQf1K {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 28.5px;
      opacity: 1;
    }
    40% {
      height: 57px;
      width: 28.5px;
      opacity: 1;
    }
    100% {
      height: 57px;
      width: 28.5px;
      opacity: 1;
    }
  }
}
