:local {
  .quantity {
    width: 100%;
    position: relative;
    border-right: 1px solid rgb(236, 236, 236);
    input {
      width: 100%;
      padding-bottom: 14px;
      outline: none;
      border: none;
      font-size: 24px;
      text-align: center;
      background: transparent;

      // Chrome
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none; 
        margin: 0;
        opacity: 0; 
      }

      // Firefox
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }
    hr {
      margin-top: 0;
    }
  }
}