<%= render "layouts/mailers/account_layout", organization: @current_organization do %>
  <mj-section full-width="full-width" padding="0px">
    <mj-column width="100%" padding="0 2.5%">
      <mj-text line-height="24px">
        <p>
          Someone has requested a link to change your password. You can do this through the button below:
        </p>
      </mj-text>
    </mj-column>
  </mj-section>

  <mj-section full-width="full-width" padding="0px">
      <mj-column width="100%" padding="0 2.5%">
        <mj-button background-color="<%=@primary_color%>" color="white" href="<%= @password_reset_url %>">
          Change my password
        </mj-button>
      </mj-column>
  </mj-section>

  <mj-section full-width="full-width" padding="0px">
      <mj-column width="100%" padding="0 2.5%">
      <mj-text line-height="24px">
        <p>
          If you didn't request this, please ignore this email. Your password won't change until you access the button above and create a new one.
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
<% end %>