:local {
	.add_contact_btn {
    background-color: transparent;  
    border: 6px solid #F2F2F2;
    height: 120.6px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    h3 {
      font-size: 15px;
      font-weight: normal;
      text-align: center;
      span {
        font-size: 24px;
        font-weight: bold;
      } 
    }
    &:hover {
    	border-color: rgb(220, 220, 220);
    }
  }
}