:local {
  .wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
    color: #4F4F4F;
    .container {
      padding: 20px 25px;
    }
  }
  .wrapper_gradient {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -324234;
  }
  .wrapper_gradient:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 0;
  }
  .add_button {
    margin: 0 10px;
    p {
      font-size: 12px !important;
    }
    button {
      height: 28px !important;
    }
    transition: all 0.4 ease;
  }
  .shorter button {
    width: 66px !important;
  }
  .longer button {
    width: 74px !important;
  }
  .gradient {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -2222222;
    position: absolute;
  }
  .wrapper_selected {
    position: relative;
    box-shadow: none !important;
  }
  .incoterm_wrapper {
    padding-bottom: 10px;
    i {
      font-size: 20px;
      padding: 6px;
    }
  }
  .mot_icon {
    font-size: 25px;
  }
  .dest_truck {
     transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  .fee_value {
    font-size: 12px;
    margin-top: 10px;
    vertical-align: baseline;
  }
  .fee_text {
    font-size: 14px;
  }
  .price_row {
    div:first-child {
      width: 17px;
      height: 17px;
      background: #F2F2F2;
      border-radius: 50%;
      margin-left: 15px;
    }
    span {
      padding-left: 15px;
    }
    p {
      padding-right: 10px;
      font-size: 21px;
      text-align: right;
      letter-spacing: 0.02em;
      font-weight: 600;
    }
  }
  .sub_price_row {
    background: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    span {
      padding-left: 24px;
      font-weight: bold;
      line-height: normal;
      font-size: 11px;
      letter-spacing: 0.02em;
    }
    p {
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
  .sub_price_row_wrapper {
    border-bottom: 1px solid #E0E0E0; 
  }
  .total_row {
    background: #F8F8F8;
    border: 1px solid #BDBDBD;
    min-height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    span {
      padding-left: 40px;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: 0.03em;
    }
    p {
      margin: 0;
      line-height: normal;
      font-weight: bold;
      font-size: 30px;
      text-align: right;
      letter-spacing: 0.02em;
    }
    input {
      margin-right: 15px;
      margin-left: 10px;
    }
  }
  .fee_tile {
    height: 20px;
  }
  .disabled {
    opacity: 0.4;
  }
  .origin_destination {
    hyphens: auto;
    font-size: 17px;
    p {
      margin-top: 0;
      margin-bottom: 5px;
      width: 100%;
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .unit_info {
    font-size: 15px;
    p {
      margin: 0;
    }
    span {
      font-weight: bold;
    }
  }
  .deselected_text {
    opacity: 0.25;
  }
  .view_switch {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    text-shadow: 0 0 0;
    padding-top: 5px;
    p {
      padding-left: 20px;
      font-size: 12px;
      &:hover {
        color: #828282
      }
    }
  }
  .disclaimers {
    font-size: 12px !important;
    padding-right: 5px;
    padding-top: 3px;
  }
  .rate_wrapper {
    .rates_header {
      font-weight: bold;
      padding: 5px;
      font-size: 14px;
    }
    .rates_sub_header {
      padding: 5px;
      font-size: 13px;
    }
    .rates_value {
      font-size: 12px;
      padding: 5px;
    }
  }
}