.blog_post {
  height: 350px; 
  width: 225px;
  margin: 15px;
}
.bp_text  {
  padding: 5%;
  width: 100%;
  text-align: justify;
}
.bp_action {
  padding: 5%;
  width: 100%;
}
.bp_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}