:local {
  .round_btn {
    border-radius: 39px;
    // font-family: "Open Sans";  
    font-size: 18px;  
    line-height: 21px;  
    text-align: center;
    color: #FFFFFF;
    border: none;
  }
  .large {
    height: 41px;
    width: 317px;
  }
  .small {
     height: 33.83px;
     width: 167px;
    border: none;
  }
  .full {
    height: 33.83px;
    width: 100%;
  }
  .neutral {
    background-color: #D8D8D8;
    color: #2C2C2C !important;
  }
  .back {
    background-color: #787878;
    color: #FFFFFF !important; 
  }
}