:local {
  .round_btn {
    border-radius: 4px;
    // font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: not-allowed;
    transition: margin 0.2s ease;
    transition: shadow 0.4s ease;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        margin: -1px 1px 1px -1px;
        box-shadow: 1px 1px 1px rgba(black, 0.3);
      }
    }
    &:active {
      margin: 0;
      box-shadow: none;
    }
  }

  .round_btn_inverse {
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: center;
    color: #4F4F4F !important;
    border: none;
    cursor: not-allowed;
    transition: margin 0.2s ease;
    transition: shadow 0.4s ease;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
    &.clickable {
      cursor: pointer;
    }
  }

  .large {
    height: 41px;
    width: 317px;
  }

  .small {
    height: 33.83px;
    width: 167px;
    font-size: 12px;
  }

  .medium {
    height: 39px;
    width: 233px;
    font-size: 14px;
  }

  .full {
    height: 33.83px;
    width: 100%;
    font-size: 16px;
  }
  .neutral {
    background-color: #D8D8D8;
    color: #2C2C2C !important;
  }

  .back {
    border: 2px solid #9e9e9e;
    color: #9e9e9e !important;
    transition: all 0.5 ease;
    &:hover {
      border: 0;
      background: #787878;
      color: white !important;
    }
  }
  .content {
    position: relative;
    margin: 0;
    z-index: 10;
  }
  .icon {
    position: absolute;
    left: -30px;
  }
  .icon_margin {
    margin-left: 8px;
  }
}
