<div class="table-responsive">
  <h3>Monthly Metrics</h3>
  <table class="table table-striped">
    <% @stats.metrics.each do |key, value| %>
      <tr>
        <th><strong><%= key.to_s.titleize %></strong><th> 
        <td> <%= value.respond_to?(:strftime) ? value.strftime('%B %e, %Y') : value %> </td>
      </tr>
    <% end %>
  </table>
</div>