<div class="container">
  <div class="row">
    <h2><%= @tenant.name %></h2>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <h3>Per agent and date</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col"># Individual Agents</th>
              <th scope="col"># Quotations</th>
              <th scope="col">&oslash; Time for Booking Process</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'per_date_quotation_stats', collection: @stats %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="table-responsive">
        <h3>Per date</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Email</th>
              <th scope="col"># Quotations</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'per_date_and_agent_quotation_stats', collection: @stats %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
