:local {
  .hub_card {
    width: 275px;
    height: 256px;
    padding: 3px;
    // color: #FFFFFF;
    position: relative;
    margin: 15px;
  }
  .image {
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hub_card .content {
    height: 130px;
    width: 100%;
    background: white;
    padding: 16px 40px;
  }
  .hub_name {
    h1 {
      margin: 5px;
      color: #4F4F4F;
    }
  }
  .hub_type {
    p {
      margin: 5px;
      font-size: 20px;
      color: #4F4F4F;
    }
  }
.hub_card .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 10;
    background: rgba(0,10,4,0.26);
  }
  
  .hub_card i {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-top: 23px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
  }
  .tooltip {
    max-width: 150px !important;
    background: rgba(0,0,0,0.9) !important;
  }
}