:local {
  .hello {
    position: absolute;
    right: 0;
    top: 0;
  }
  .hub_card {
    width: 225px;
    height: 180px;
    padding: 3px;
    // color: #FFFFFF;
    position: relative;
    margin: 0 15px 30px 0;
    &.inactive {
      filter: grayscale(100%);
      opacity: 0.7;
    }
  }
  .image {
    height: 84px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hub_card .content {
    height: 90px;
    width: 100%;
    background: rgb(243, 243, 242);
    padding: 8px 20px;
  }
  .hub_name {
    h1 {
      margin: 0px;
      font-size: 25px;
      color: #4F4F4F;
    }
  }
  .hub_type {
    p {
      margin: 0px;
      font-size: 18px;
      color: #4F4F4F;
    }
  }
.hub_card .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 10;
    background: rgba(0,10,4,0.26);
  }

  .hub_card i {
    margin-top: 0;
    padding: 10px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white !important;
    font-size: 16px !important;
  }
  .tooltip {
    max-width: 150px !important;
    background: rgba(0,0,0,0.9) !important;
  }
}
