:local {
  .open_filter {
    height: max-content;
  }
  .closed_filter {
    height: 0px;
    overflow: hidden;
  }
  .expander_icon i {
    font-size: 12px !important;
  }
  .header_bar_grey {
    height: 38px;
    background: #E0E0E0;
    margin-right: 18px;
  }
  .header_bar_grey_text {
    font-family: 'Roboto', Helvetica, Verdana;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-left: 25px;
  }
  .header_bar_active_button {
    height: 38px;
    margin-right: 18px;
    width: 80px;
    color: white;
    font-family: 'Roboto', Helvetica, Verdana;
    line-height: 19px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .header_bar_inactive_button {
    height: 38px;
    margin-right: 18px;
    width: 80px;
    color: black;
    font-family: 'Roboto', Helvetica, Verdana;
    line-height: 19px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .inactive_inner {
    background: white;
    margin: 3px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    p { margin: 0;}
  }
  .header_bar_action_buttons {
    border: 5px solid #E0E0E0;
    box-sizing: border-box;
    width: 80px;
    div {
      height: 30px;
      width: 30px;
      .edit_icon {
        color: #F2C94C;
      }
      .delete_icon {
        color: #EB5757;
      }
    }

  }
  .hub_title {
    padding: 5px;
    height: 84px;
  }
  .hub_title_content {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;
    h3 {
      margin: 0;
      margin-left: 20px;
      // font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 38px;
      font-size: 30px;
    }
    h4 {
      margin: 0;
      margin-right: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 20px;
    }
    i {
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .location_data_box {
    border: 1px solid #4F4F4F;
    margin-left: 20px;
    height: 80px;
  }
  .lat_lng_box {
    width: 240px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
  }
  .address_box {
    width: 240px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
  }
  .address_divider {
    position: absolute;
    right: 0;
    width: 2px;
    height: 80%;
    top: 10%;
    background: #BDBDBD;
  }
  .lat_lng {
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 0;

    color: #4F4F4F;
  }
  .lat_lng_divider {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 80%;
    top: 10%;
    background: #BDBDBD;
  }
  .hub_photo {
    padding: 5px;
    height: 167px;
    margin-right: 20px;
  }
  .hub_photo_content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .map_box {
    height: 167px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .location_icon {
    i {
      margin: 5px;
      font-size: 28px;
    }
  }
  .address_part_1 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    margin-top: 0;
  }
  .address_part_2 {
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.03em;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .save_icon_btn {
    font-size: 20px;
    margin-right: 15px;
    p {
      margin-right: 5px;
    }
  }
  .material_input {
    margin: 0 15px 30px 15px;
    // height: 36.91px;
    border: none;
    border-bottom: 1px solid rgb(10, 10, 10);
    background-color: transparent;

  }
  .material_input input {
    height: 36.91px;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  .material_input p {
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 17px;
    margin: 0;
    letter-spacing: 0.03em;
  }
  .editor_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    // background: rgba(0,0,0,0.25);
  }
  .editor_fade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,0.25);
  }
  .hub_form {
    width: 800px;
    height: 750px;
    z-index: 52;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.45);

  }
  .form_padding {
    padding: 0 15px;
  }
  .upload_btn_wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    // height: 200px;
  }
  .upload_btn_wrapper input[type=file] {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .upload_btn_wrapper form {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .mandatory_charges_box {
    padding-top: 10px;
  }
  .charges_row_padding {
    padding-top: 5px;
  }
  @media only screen and (max-width: 960px) {
    .address_data_box {
      padding-top: 20px;
    }
  }
}