:local {
  .info {
    color: #2C2C2C;
    // font-family: ".SF NS Text";
    font-size: 16px;
    line-height: 18px;
		hr {
			border: 0.5px solid rgba(black, .03);
		}
		p {
			margin: 0;
			height: 18px;
			sup {
				font-size: 10px;
			}
		}
  }
}