<ul>
  <% notes.each do |note| %>
    <li class="note-header"> <%= note.header %></li>
    <li class="note-body">
      <p class="hyphens">
        <%== simple_format(note.body) %>
      </p>
    </li>
  <% end %>
</ul>
