<ul>
  <% notes.each do |note| %>
    <li class="note-header"> <%= note.header %></li>
    <li class="note-body">
      <% if note.contains_html %>
        <p class="hyphens">
          <%= simple_format(note.body)  %>
        </p>
      <% else %>
        <%= note.body %>
      <% end %>
    </li>
  <% end %>
</ul>