
<table>
  <% notes.each do |note| %>
  <tr class="note-header"> <%= note.header %></tr>
  <tr class="note-body">
    <p class="hyphens">
        <%== simple_format(note.body)  %>
    </p>
  </tr>
<% end %>

</table>
