.bundle/
.ebextensions/
.git/
.vscode/
**/coverage/
chart/
danger/
db/dummydata/
docker-compose.test.yaml
Dockerfile*
dump/
log/*
node_modules/
tmp/*
!.build/
cloudbuild.yaml
renovate.json
Jenkinsfile
