.gcloudignore
# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:
.git
.gitignore
.dockerignore
client/e2e/
danger/
db/dummydata/
tmp/
#!include:.gitignore
