:local {
  .dpb {
    position: relative;
    height: 100%;
    // width: 250px;
  }

  .dpb_icon {
    height: 38px;
    width: 38px;
    border: 1px solid #F2F2F2;
    border-radius: 3px 0 0 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    i {
      font-size: 20px;
    }
  }

  .dpb div input {
    height: 36px;
    width: 80%;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    padding: 0 9px;
    z-index: 20;
  }

  .dpb.with_errors div input {
    background-color: rgba(232, 114, 88, 0.3);
    &::placeholder {
      color: rgb(211, 104, 80);
    }
  }
  .toggle {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    text-align: center;
    width: 70px;
    margin: 0 5px;
    padding: 2px;
  }
  .toggle_on {

    p {
      margin: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      color: white;
    }
  }
  .toggle_off {
    p {
      margin: 0;
      width: 100%;
      height: 100%;
      background: white;
      color: black;
    }
  }
  .header_bar_grey {
    height: 35px;
    background: #E0E0E0;
    .text {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      margin-left: 20px;
    }
  }
  .cargo_class_button {
    padding-bottom: 3px;
    position: relative;
    .cargo_class_divider {
      position: absolute;
      width: 4px;
      background: #E0E0E0;
      top: calc(50% - 15px);
      bottom: calc(50% - 15px);
      right: 0;
      height: 30px;
    }
    .cargo_class_button_inner {
      background: white;
      width: 100%;
      height: 35px;
      p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.02em;

        color: #4F4F4F;
      }
    }
    .cargo_class_button_selected {
      background: #F4F4F4;
      p {
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #4F4F4F;
      }
    }
    .cargo_class_button_inactive {
      background: white;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        letter-spacing: 0.02em;

        color: #4F4F4F;
      }
    }
  }
  .edit_wrapper {
    border: 1px solid #E0E0E0 !important;
    margin-bottom: 20px;
  }
  .fee_row_container {
    padding: 1px 3px;
  }
  .fee_row {
    background: white;
    margin: 1px 0;
  }
  .fee_title {
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 13px;

    color: #4F4F4F;
  }
  .price_cell {
    position: relative;
    .price_cell_divider {
      width: 2px;
      height: 30px;
      position: absolute;
      top: calc(50% - 15px);
      bottom: calc(50% - 15px);
      right: 0;
      background: #BDBDBD;
    }
    p {
      margin: 0;
    }
    .price_cell_label {
      font-style: normal;
      line-height: 25px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.02em;
    }
    .price_cell_data {
      font-style: normal;
      font-weight: bold;
      line-height: 25px;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
  .container {
    // background: #E0E0E0;
    padding: 5px;
    position: relative;
  }
  .edit_icon_wrapper {
    width: 100%;
    padding: 5px;
  }
  .save_icon {
    color: green;
  }
  .close_icon {
    color: red;
  }
  .users_wrapper {
    height: 200px;
    border: 1px solid #BDBDBD;
    margin-bottom: 20px;
  }
  .assigned_checkmark {
    width: 40px;
    height: 40px;
  }
  .margin_fixes {
    margin-top: 4px;
  }
  .assign_user_tile {
    min-height: 40px;
    background:transparent;
  }
  .assign_user_tile_inner {
    z-index: 1000;
    height: 50px;
    padding-left: 6px;
    background: white;
    i {
      margin: 0 5px;
    }
  }
  .unselected {
    filter: blur(1px);
    opacity: 0.7;
  }
  .nested_table {
    margin-left: 15px;
    border-left: 2px solid grey;
  }
  .pricing_cell {
    overflow-x: hidden;
    border-right: 1px solid rgba(128,128,128,0.7);
  }
  .delete_cell {
    @extend .pricing_cell;
    i, p {
      color: red;
    }
  }
}
