:local {
  .error_box {
    max-width: 350px;
    max-height: 550px;
    img {
      margin: 15px;
    }
  }
  .no_pricings {
    margin-bottom: 50px;
  }
  .header_style {
    margin-top: 10px;
  }
}