:local {
  .hub_card {
    width: 300px;
    height: 200px;
    color: #FFFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hub_card h6 {
    margin: 22px 0 0 0;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 24px;
  }

  .hub_card p {
    margin: 15px 0 0 0;
    height: 78px;
    width: 171px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
  }
  .time_diff {
    margin-top: 25px;
    p {
      margin-bottom: 10px;
    }
  }

  .hub_card i {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-top: 23px;
    color: white;
    font-size: 24px !important;
  }
  .itinerary_address {
    font-weight: lighter !important;
    text-align: end;
  }

  .connection_graphics {
    // margin-top: -130px;
  }

  .outer_box {
    // margin-top: 60px;
  }
  .rhb_header {
    letter-spacing: 3px;
    margin: 5px;
    height: 40px;
  }

  .hub_card .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 10;
    background: rgba(0,10,4,0.26);
  }
  .hub_card .content {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 12;
    // background: rgba(0,10,4,0.16);
  }
  .address_padding {
    padding-top: 50px;
  }
}
