:local {
  .chargeable_weight {
    padding-top: 8px;
    p.chargeable_weight_value {
      margin: 0 0 0 5px;
      font-size: 12px !important;
    }
  }
  .single_charge {
    padding-right: 10px;
  }
  .input_value {
    margin: 0 0 0 5px;
    font-size: 12px;
    font-weight: bold;
  }
}