:local {
  .dates_container {
    padding: 8px 25px;
    border-bottom: 1px solid #EEEEEE;
    &.placeholder {
      height: 50.8px;
    }
  }
  .dates_row {
    h4 {
      font-size: 13px;
      margin: 5px 0;
    }
    p {
      font-size: 14px;
    }
  }
}