apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    app: {{ include "app.name" . }}
    chart: {{ include "app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: http-frontend
      port: 80
      targetPort: 80
      protocol: TCP
    - name: http-backend
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: {{ template "app.name" . }}
    release: {{ .Release.Name }}
