:local {
  .padding_section {
    padding: 0 20px;
  }
  .cargo_item_info {
    padding: 15px 20px;
    background: #A2A2A2; 
    color: white;   
    border-radius: 0 0 1px 1px;

    .inner_cargo_item_info {
      height: 70px;
      .padding_left {
        margin-left: 25px;
      }
    }
  }
  .total {
    width: 100%;
    position: relative;
    font-style: italic;
    p {
      font-size: 16px !important;
    }
    font-weight: 650;
    letter-spacing: 1.3px;
  }
}