:local {
.results_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    // background: rgba(0,0,0,0.25);
  }
  .results_fade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,0.25);
  }
  .results_box {
    width: 650px;
    // min-width: 800px;
    // max-width: 95%;
    height: 700px;
    z-index: 52;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.45);
    // overflow-y: scroll;
  }
  .stat_row {
    padding: 10px 5px;
    font-size: 14px;
  }
}