:local {
  .tab {
    margin-right: 35px;
    position: relative;
    .gradient {
      top: 0;
      left: 0;
      right: -3px;
      bottom: -3px;
      z-index: -2;
      position: absolute;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
      }
      i {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
  .tab:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 0;
  }
  .content {
    z-index: 1;
    min-height: 55px;
    width: 100%;
    a {
      padding-bottom: 10px;
    }
    i {
      padding-right: 12px;
    }
  }
  a.active {
    font-weight: bold;
  }
  a.disabled {
    color: #BDBDBD;
    &:hover {
      border-bottom-color: #4F4F4F !important;
      color: #4F4F4F;
    }
  }
}
