<div class="form-signin rounded">
  <%= image_tag 'admiralty_assets/logo.png', class: 'mb-4' %>

  <h2 class="mb-4">Admiralty</h2>

  <%= google_sign_in_button 'Sign in with GSuite', proceed_to: create_login_url, class: 'btn btn-lg btn-primary btn-block' %>

  <p class="mb-4 small">2020 © ItsMyCargo</p>
</div>
