:local {
  .info {
    width: 100%;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 18px;
    // padding: 2px 18px 18px 18px;
    background: white;
    // border-radius: 2px;
    border-bottom: 2px solid #E0E0E0;
    i {
      transition: all 0.4s ease;
      transform: rotate(-90deg);
      &.collapsed {
        transform: none;
      }
    }
    h4 {
    	font-weight: normal;
    }
		hr {
			border: 0.5px solid rgba(black, .02);
		}
		p {
			margin: 0;
			height: 18px;
			sup {
				font-size: 10px;
			}
		}
  }
  .tooltip {
    background: red;
  }
  .row_collapsed {
    max-height: 0 !important;
  }
  .unit_viewer {
    height: 60px;
    transition: all 1s ease;
    overflow: hidden;
    &:first-child {
      height: 60px;
    }
    &.closed_panel {
      height: 0;
      opacity: 0;
    }
  }
  .detailed_row {
    border-top: 1px solid #E0E0E0;
    padding: 5px 15px;
    // margin-top: 5px;
    span {
      font-weight: bold;
      font-size: 21px;
    }
    p:last-child {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
  }
  .detailed_row_aggregated {
    padding: 5px 15px;
    margin-top: 5px;
    transition: all 0.5s linear;
    span {
      font-weight: bold;
      font-size: 21px;
    }
    p:last-child {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
  }
  .unit_data_cell {
    p {
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
      display: block;
    }
    span {
      font-weight: bold;
      font-size: 18px !important;
    }
    img {
      margin-right: 14px;
    }
    position: relative;
  }
  .side_border {
    border-right: 1px solid #E0E0E0;
    height: 100%;
    p {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
    span {
      font-weight: bold;
      font-size: 21px;
    }
    .cargo_unit {
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.02em;
      height: 75px;
    }
  }
  .icon_cargo_item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    min-height: 40px;
  }
  .icon_cargo_item_small {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-height: 25px;
    margin-right: 25px;
  }
  .height_box {
    height: 80px;
  }
  .title_bar {
    background: #E0E0E0;
    padding: 10px;
  }


  @media only screen and (max-width: 960px) {
    .unit_data_cell {
      p {
        font-size: 10px !important;
        line-height: 10px;
      }
      span {
        font-size: 13px !important;
      }
      img {
        display: none;
      }
    }
    .detailed_row_aggregated {
      * p {
        font-size: 11px !important;
        line-height: 12px;
      }
    }
    .cargo_type {
      font-size: 15px !important;
    }
    .height_box {
      height: 60px;
    }
    .side_border {
      p {
        font-size: 11px;
      }
      .cargo_unit {
        font-size: 28px;
      }
    }
  }

  @media only screen and (min-width: 960px) {
    .unit_data_cell {
      .dims {
       display: none;
      }
    }
  }
  @media only screen and (max-width: 525px) {
    .unit_data_cell {
      p {
        font-size: 8px !important;
        line-height: 8px;
      }
      span {
        font-size: 10px !important;
      }
      img {
        display: none;
      }
    }
    .detailed_row_aggregated {
      * p {
        font-size: 8px !important;
        line-height: 10px;
      }
    }
    .cargo_type {
      font-size: 12px !important;
    }
    .height_box {
      height: 60px;
    }
    .side_border {
      p {
        font-size: 8px;
      }
      .cargo_unit {
        font-size: 22px;
      }
    }
  }
  .operand {
    position: absolute;
    top: 20px;
    right: -10px;
  }
}
