:local {
  .info {
    color: #333333;
    font-size: 16px;
    line-height: 18px;
    // padding: 2px 18px 18px 18px;
    background: white;
    // border-radius: 2px;
    border-bottom: 2px solid #E0E0E0;
    h4 {
    	font-weight: normal;
    }
		hr {
			border: 0.5px solid rgba(black, .02);
		}
		p {
			margin: 0;
			height: 18px;
			sup {
				font-size: 10px;
			}
		}
  }
  .open {
    height: max-content;
    overflow: visible;
    visibility: normal;
    width: 250px;
    position: absolute;
    z-index: 50;
  }
  .closed {
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .hs_cell {
    transition: all 1s bounce;
    height: max-content;
  }
  .cell_data_toggle {
    transition: all 1s bounce;
    background: whitesmoke;
  }
  .panel {
    padding: 0 10px;
    overflow: hidden;
    transition: all 2s linear;
  }
  .open_panel {
    max-height: none !important;
    opacity: 1 !important;
  }
  .closed_panel {
    max-height: 0 !important;
    opacity: 0;
  }
  .closed_panel.panel {
    padding: 0;
  }
  .closed_panel .detailed_row {
    padding: 0;
    margin-top: 0;
  }
  .detailed_row {
    padding: 5px 15px;
    margin-top: 5px;
    transition: all 1s linear;
    span {
      font-weight: bold;
      font-size: 21px;
    }
    p:last-child {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
  }
  .unit_data_cell {
    padding: 5px;
  }
  .side_border {
    border-right: 1px solid #E0E0E0;
    height: 100%;
    p {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
    span {
      font-weight: bold;
      font-size: 21px;
    }
    .cargo_unit {
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.02em;
      height: 75px;
    }
  }
}
