:local {
  .info {
    width: 100%;
    color: #333333;
    font-size: 16px;
    line-height: 18px;
    // padding: 2px 18px 18px 18px;
    background: white;
    // border-radius: 2px;
    border-bottom: 2px solid #E0E0E0;
    i {
      transition: all 0.4s ease;
      transform: rotate(-90deg);
      &.collapsed {
        transform: none;
      }
    }
    h4 {
    	font-weight: normal;
    }
		hr {
			border: 0.5px solid rgba(black, .02);
		}
		p {
			margin: 0;
			height: 18px;
			sup {
				font-size: 10px;
			}
		}
  }
  .row_collapsed {
    max-height: 0 !important;
  }
  .unit_viewer {
    height: 65px;
    transition: all 1s ease;
    overflow: hidden;
    &:first-child {
      height: 65px;
    }
    &.closed_panel {
      height: 0;
      opacity: 0;
    }
  }
  .detailed_row {
    border-top: 1px solid #E0E0E0;
    padding: 5px 15px;
    // margin-top: 5px;
    span {
      font-weight: bold;
      font-size: 21px;
    }
    p:last-child {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
  }
  .detailed_row_aggregated {
    padding: 5px 15px;
    margin-top: 5px;
    transition: all 0.5s linear;
    span {
      font-weight: bold;
      font-size: 21px;
    }
    p:last-child {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
  }
  .unit_data_cell {
    p {
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
    span {
      font-weight: bold;
      font-size: 18px;
    }
    img {
      margin-right: 14px;
    }
  }
  .side_border {
    border-right: 1px solid #E0E0E0;
    height: 100%;
    p {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      margin-top: 6px;
    }
    span {
      font-weight: bold;
      font-size: 21px;
    }
    .cargo_unit {
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.02em;
      height: 75px;
    }
  }
  .icon_cargo_item {
    background-size: cover;
    width: 18%;
    min-height: 40px;
    margin-left: 14px;
  }
}
