---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/latest?access_key=6985c41eadad14bbab851c518745c236&base=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 7991ab94-0e91-4de2-9607-17d5b7820bab
      Last-Modified:
      - Wed, 11 Jul 2018 11:14:07 GMT
      Etag:
      - fc5cf7d22d5cda1e11284596cdd330db
      X-Request-Time:
      - '0.029'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1531307647,"base":"EUR","date":"2018-07-11","rates":{"AED":4.303836,"AFN":84.836998,"ALL":125.556412,"AMD":564.494106,"ANG":2.143817,"AOA":297.005645,"ARS":32.006044,"AUD":1.584134,"AWG":2.085771,"AZN":1.99144,"BAM":1.959811,"BBD":2.343563,"BDT":97.750027,"BGN":1.956644,"BHD":0.444458,"BIF":2051.766302,"BMD":1.171782,"BND":1.571709,"BOB":8.038473,"BRL":4.472107,"BSD":1.171782,"BTC":0.000184,"BTN":80.559854,"BWP":12.049551,"BYN":2.343519,"BYR":22966.921375,"BZD":2.340986,"CAD":1.540635,"CDF":1834.417781,"CHF":1.165243,"CLF":0.027653,"CLP":759.23251,"CNY":7.819766,"COP":3362.896194,"CRC":661.529346,"CUC":1.171782,"CUP":31.052215,"CVE":110.32325,"CZK":25.910201,"DJF":207.986775,"DKK":7.455731,"DOP":58.167243,"DZD":137.54139,"EGP":20.904681,"ERN":17.564703,"ETB":31.895897,"EUR":1,"FJD":2.447262,"FKP":0.882935,"GBP":0.884672,"GEL":2.850009,"GGP":0.884705,"GHS":5.596418,"GIP":0.883286,"GMD":55.436994,"GNF":10557.753444,"GTQ":8.773088,"GYD":240.203537,"HKD":9.195441,"HNL":28.034876,"HRK":7.392538,"HTG":74.056605,"HUF":324.524957,"IDR":16850.220886,"ILS":4.26065,"IMP":0.884705,"INR":80.605693,"IQD":1394.420226,"IRR":50503.79132,"ISK":125.32205,"JEP":0.884705,"JMD":151.839475,"JOD":0.830208,"JPY":130.331418,"KES":117.822654,"KGS":80.046399,"KHR":4745.715902,"KMF":490.953111,"KPW":1054.603284,"KRW":1314.27033,"KWD":0.354469,"KYD":0.960637,"KZT":403.16321,"LAK":9839.451512,"LBP":1763.531485,"LKR":186.547644,"LRD":184.145488,"LSL":15.690069,"LTL":3.572408,"LVL":0.727149,"LYD":1.600419,"MAD":11.069807,"MDL":19.421109,"MGA":3831.725866,"MKD":61.248811,"MMK":1658.070746,"MNT":2868.521619,"MOP":9.471629,"MRO":415.982225,"MUR":38.703948,"MVR":18.244417,"MWK":839.46444,"MXN":22.279069,"MYR":4.72451,"MZN":68.553887,"NAD":15.775715,"NGN":420.669451,"NIO":37.012364,"NOK":9.444372,"NPR":128.661634,"NZD":1.72451,"OMR":0.450904,"PAB":1.171782,"PEN":3.832929,"PGK":3.851669,"PHP":62.796137,"PKR":142.64099,"PLN":4.32598,"PYG":6624.082321,"QAR":4.265047,"RON":4.662873,"RSD":117.587237,"RUB":72.663942,"RWF":995.346524,"SAR":4.394418,"SBD":9.260122,"SCR":15.736615,"SDG":21.039456,"SEK":10.27601,"SGD":1.593881,"SHP":0.883288,"SLL":9608.610108,"SOS":667.915507,"SRD":8.694787,"STD":24510.041157,"SVC":10.252859,"SYP":603.444118,"SZL":15.775656,"THB":38.961713,"TJS":10.750742,"TMT":3.984058,"TND":3.066906,"TOP":2.743259,"TRY":5.577561,"TTD":7.872021,"TWD":35.809648,"TZS":2657.600783,"UAH":30.706514,"UGX":4361.371319,"USD":1.171782,"UYU":36.758793,"UZS":9139.896949,"VEF":134417.889572,"VND":27000.193995,"VUV":126.633914,"WST":3.050078,"XAF":655.811046,"XAG":0.073454,"XAU":0.000937,"XCD":3.160904,"XDR":0.831742,"XOF":655.811046,"XPF":119.369149,"YER":293.179779,"ZAR":15.776519,"ZMK":10547.449655,"ZMW":11.459875,"ZWL":377.729704}}'
  recorded_at: Wed, 11 Jul 2018 11:24:25 GMT
[...]
