---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/latest?access_key=6985c41eadad14bbab851c518745c236&base=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 2c9fa37b-9986-44d8-bba5-a4d4d28bf314
      Last-Modified:
      - Fri, 13 Jul 2018 09:04:07 GMT
      Etag:
      - f4bb50ca6cc2bd9979a36c7c94b4075d
      X-Request-Time:
      - '0.028'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1531472647,"base":"EUR","date":"2018-07-13","rates":{"AED":4.271802,"AFN":83.740284,"ALL":125.261398,"AMD":559.419501,"ANG":2.142933,"AOA":295.678557,"ARS":31.608464,"AUD":1.576067,"AWG":2.070244,"AZN":1.976619,"BAM":1.959173,"BBD":2.326117,"BDT":97.406199,"BGN":1.951258,"BHD":0.439867,"BIF":2036.492168,"BMD":1.163059,"BND":1.569313,"BOB":7.978847,"BRL":4.515461,"BSD":1.163059,"BTC":0.000187,"BTN":79.785812,"BWP":11.910768,"BYN":2.326275,"BYR":22795.946816,"BZD":2.323557,"CAD":1.534563,"CDF":1820.770365,"CHF":1.166901,"CLF":0.027483,"CLP":754.755192,"CNY":7.789354,"COP":3341.234547,"CRC":656.545497,"CUC":1.163059,"CUP":30.821051,"CVE":109.560108,"CZK":25.943531,"DJF":206.439363,"DKK":7.456985,"DOP":57.75779,"DZD":136.719856,"EGP":20.760812,"ERN":17.434479,"ETB":31.751496,"EUR":1,"FJD":2.428469,"FKP":0.881944,"GBP":0.886111,"GEL":2.826344,"GGP":0.886264,"GHS":5.554769,"GIP":0.882174,"GMD":55.047562,"GNF":10477.993685,"GTQ":8.707821,"GYD":237.775684,"HKD":9.12838,"HNL":27.827339,"HRK":7.395073,"HTG":76.785119,"HUF":324.574747,"IDR":16716.639979,"ILS":4.230028,"IMP":0.886264,"INR":79.67532,"IQD":1384.039628,"IRR":50232.496718,"ISK":124.796182,"JEP":0.886264,"JMD":150.744015,"JOD":0.824026,"JPY":131.092974,"KES":116.771077,"KGS":79.422472,"KHR":4710.38711,"KMF":489.356701,"KPW":1046.752969,"KRW":1316.256544,"KWD":0.352362,"KYD":0.953554,"KZT":398.99885,"LAK":9772.017547,"LBP":1750.402666,"LKR":185.333381,"LRD":184.961194,"LSL":15.466028,"LTL":3.545819,"LVL":0.721736,"LYD":1.594566,"MAD":11.041034,"MDL":19.347476,"MGA":3803.20134,"MKD":61.246724,"MMK":1652.7061,"MNT":2847.167556,"MOP":9.401702,"MRO":412.885728,"MUR":38.520497,"MVR":18.108929,"MWK":829.772466,"MXN":22.10629,"MYR":4.710274,"MZN":67.80631,"NAD":15.54308,"NGN":417.53764,"NIO":36.746602,"NOK":9.486487,"NPR":126.831534,"NZD":1.726445,"OMR":0.447547,"PAB":1.163059,"PEN":3.803781,"PGK":3.835533,"PHP":62.235259,"PKR":141.869881,"PLN":4.330302,"PYG":6582.910866,"QAR":4.233305,"RON":4.654096,"RSD":117.422972,"RUB":72.452728,"RWF":987.936783,"SAR":4.361586,"SBD":9.147806,"SCR":15.61952,"SDG":20.882949,"SEK":10.38046,"SGD":1.590714,"SHP":0.882174,"SLL":9537.079536,"SOS":664.106607,"SRD":8.62981,"STD":24509.59768,"SVC":10.177067,"SYP":598.951849,"SZL":15.551277,"THB":38.74148,"TJS":10.955433,"TMT":3.96603,"TND":3.079891,"TOP":2.697477,"TRY":5.635598,"TTD":7.733756,"TWD":35.639637,"TZS":2637.817015,"UAH":30.483762,"UGX":4328.903815,"USD":1.163059,"UYU":36.449811,"UZS":9048.594816,"VEF":133417.23132,"VND":26807.33562,"VUV":126.180216,"WST":3.023484,"XAF":655.569529,"XAG":0.073481,"XAU":0.000937,"XCD":3.143343,"XDR":0.828022,"XOF":655.569529,"XPF":119.377604,"YER":290.590176,"ZAR":15.55556,"ZMK":10468.92581,"ZMW":11.455963,"ZWL":374.917739}}'
  recorded_at: Fri, 13 Jul 2018 09:42:10 GMT
[...]
