---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/latest?access_key=6985c41eadad14bbab851c518745c236&base=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - '008e42ba-389e-4dd9-8d5c-4cb3c990dadd'
      Last-Modified:
      - Wed, 25 Jul 2018 19:48:07 GMT
      Etag:
      - 55fc975c51982f4607516bbc4650b658
      X-Request-Time:
      - '0.018'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1532548087,"base":"EUR","date":"2018-07-25","rates":{"AED":4.309166,"AFN":84.711862,"ALL":126.047129,"AMD":563.627237,"ANG":2.158802,"AOA":297.49118,"ARS":32.081368,"AUD":1.572683,"AWG":2.088464,"AZN":1.99401,"BAM":1.959635,"BBD":2.346589,"BDT":98.545006,"BGN":1.963042,"BHD":0.443034,"BIF":2054.415251,"BMD":1.173295,"BND":1.579137,"BOB":8.04887,"BRL":4.342484,"BSD":1.173295,"BTC":0.000144,"BTN":80.781327,"BWP":12.027908,"BYN":2.32311,"BYR":22996.572989,"BZD":2.344012,"CAD":1.529271,"CDF":1836.795237,"CHF":1.163017,"CLF":0.027666,"CLP":760.236211,"CNY":7.938156,"COP":3382.60816,"CRC":662.911376,"CUC":1.173295,"CUP":31.092305,"CVE":110.348355,"CZK":25.626866,"DJF":208.263523,"DKK":7.453025,"DOP":58.336206,"DZD":137.839819,"EGP":20.943132,"ERN":17.588082,"ETB":32.042673,"EUR":1,"FJD":2.456886,"FKP":0.890766,"GBP":0.889075,"GEL":2.860021,"GGP":0.889256,"GHS":5.542413,"GIP":0.891114,"GMD":55.813559,"GNF":10573.730047,"GTQ":8.784455,"GYD":242.73118,"HKD":9.205293,"HNL":28.046432,"HRK":7.400201,"HTG":78.751533,"HUF":325.331109,"IDR":16957.62599,"ILS":4.257768,"IMP":0.889256,"INR":80.494225,"IQD":1396.220503,"IRR":51484.164392,"ISK":124.263629,"JEP":0.889256,"JMD":152.387501,"JOD":0.831282,"JPY":130.137101,"KES":117.505451,"KGS":79.888216,"KHR":4738.584602,"KMF":492.619428,"KPW":1055.965415,"KRW":1310.804603,"KWD":0.354455,"KYD":0.962237,"KZT":405.971656,"LAK":9863.887242,"LBP":1769.328604,"LKR":187.146896,"LRD":176.463492,"LSL":15.710378,"LTL":3.577024,"LVL":0.728088,"LYD":1.61035,"MAD":11.055608,"MDL":19.447358,"MGA":3842.540048,"MKD":61.245976,"MMK":1695.410534,"MNT":2879.265129,"MOP":9.481163,"MRO":416.519462,"MUR":40.009341,"MVR":18.268432,"MWK":837.075259,"MXN":21.944015,"MYR":4.755338,"MZN":67.616966,"NAD":15.393301,"NGN":421.213107,"NIO":37.134891,"NOK":9.54034,"NPR":129.003615,"NZD":1.715003,"OMR":0.45148,"PAB":1.173295,"PEN":3.838083,"PGK":3.869288,"PHP":62.442737,"PKR":150.451554,"PLN":4.296845,"PYG":6722.977814,"QAR":4.270559,"RON":4.62231,"RSD":118.233129,"RUB":73.82229,"RWF":1001.524191,"SAR":4.399972,"SBD":9.264802,"SCR":15.768706,"SDG":21.066737,"SEK":10.274894,"SGD":1.593745,"SHP":0.89112,"SLL":9843.941025,"SOS":668.778098,"SRD":8.705962,"STD":24510.239817,"SVC":10.266179,"SYP":604.223199,"SZL":15.393839,"THB":38.965111,"TJS":11.049148,"TMT":4.000934,"TND":3.089994,"TOP":2.729432,"TRY":5.636749,"TTD":7.913637,"TWD":35.746764,"TZS":2665.725391,"UAH":31.174048,"UGX":4332.624691,"USD":1.173295,"UYU":36.260094,"UZS":9101.245638,"VEF":168532.027939,"VND":27238.032752,"VUV":129.719442,"WST":3.067698,"XAF":655.742603,"XAG":0.075141,"XAU":0.000952,"XCD":3.1544,"XDR":0.834976,"XOF":655.742603,"XPF":119.40141,"YER":293.147648,"ZAR":15.397264,"ZMK":10561.058551,"ZMW":11.650551,"ZWL":378.217374}}'
  recorded_at: Wed, 25 Jul 2018 20:05:24 GMT
recorded_with: VCR 2.8.0
