:local {
	.full_size {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
	.modal_background {

		background: rgba(black, 0.4);
	}
	.modal {
		z-index: 200;
		position: fixed;
		box-shadow: 0 0 50px rgba(black, 0.6);
		background: white;
		padding: 200px;
	}
}
