<div class="row justify-content-center">
  <div class="col-sm-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Subdomain</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
      </thead>

      <tbody>
        <%= render collection: @tenants, partial: 'tenant'%>
      </tbody>
    </table>
  </div>
</div>
