:local {
  .heading {
    padding: 5px 15px;
    min-height: 42px;
    h3, p {
      margin: 5px;
      margin-right: 0px !important;
    }
    i {
    	transition: all 0.3s ease;
    	&.collapsed {
    		transform: rotate(-90deg);
    	}
    }
  }
  .collapsed_heading {
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
    font-size: 16px;
  }
  .arrow_index {
    z-index: 10000;
  }
}
