commands:
  00_enable_epel:
    command: sudo yum-config-manager --enable epel
  01_download_node:
    cwd: /var/app/current
    command: curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
  02_install_node:
    cwd: /var/app/current
    command: sudo yum -y install nodejs
  03_install_mjml:
    cwd: /var/app/current
    command: npm install 'mjml@4.3.1' -g
  04_install_geos:
    command: sudo yum -y install geos-devel git
