files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_shoryuken":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart shoryuken || initctl start shoryuken
      ln -sf /var/app/current/log/shoryuken.log /var/app/containerfiles/logs/shoryuken.log
  "/opt/elasticbeanstalk/support/conf/shoryuken.conf":
    mode: "000644"
    content: |
      description "Elastic Beanstalk shoryuken Upstart Manager"
      start on runlevel [2345]
      stop on runlevel [!2345]
      # explained above
      respawn
      respawn limit 3 30
      script
      # scripts run in /bin/sh by default
      # respawn as bash so we can source in rbenv
      exec /bin/bash <<"EOT"
        if [ "$WORKER_MODE" = "1" ]
        then
          EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
          EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
          . $EB_SUPPORT_DIR/envvars
          . $EB_SCRIPT_DIR/use-app-ruby.sh
          EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
          EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
          cd $EB_APP_DEPLOY_DIR

          exec su -s /bin/bash -c "bundle exec shoryuken -d -R -C config/shoryuken.yml -P /var/run/shoryuken.pid -L log/shoryuken.log" webapp
        fi
      EOT
      end script
  "/etc/init/shoryuken.conf":
    mode: "120400"
    content: "/opt/elasticbeanstalk/support/conf/shoryuken.conf"
commands:
  reload_initctl_for_shoryuken:
    command: "initctl reload-configuration"
