option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
container_commands:
  03_migrate:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: rake db:migrate
    leader_only: true
  04_setup_swap:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: "/bin/bash .ebextensions/hooks/setup_swap.sh"
    ignoreErrors: true
  96_change_permissions_for_hook:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: "chmod 755 .ebextensions/hooks/restart_shoryuken.sh"
  97_set_post_deploy_hook:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/appdeploy/post/"
  98_set_post_config_hook:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/configdeploy/post/"
  99_set_post_restart_hook:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/restartappserver/post/"
