option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 300
files:
  "/etc/nginx/conf.d/nginx.custom.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        client_max_body_size    250M;
        client_header_timeout   300;
        client_body_timeout     300;
        send_timeout            300;
        proxy_connect_timeout   300;
        proxy_read_timeout      300;
        proxy_send_timeout      300;
container_commands:
  01_restart_nginx:
    command: "sudo service nginx reload"
  03_migrate:
    test: '[ ! "$WORKER_MODE" = "1" ]'
    command: rake db:migrate
    leader_only: true
  96_change_permissions_for_hook:
    test: '[ "$WORKER_MODE" = "1" ]'
    command: "chmod 755 .ebextensions/hooks/restart_shoryuken.sh"
  97_set_post_deploy_hook:
    test: '[ "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/appdeploy/post/"
  98_set_post_config_hook:
    test: '[ "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/configdeploy/post/"
  99_set_post_restart_hook:
    test: '[ "$WORKER_MODE" = "1" ]'
    command: "cp .ebextensions/hooks/restart_shoryuken.sh /opt/elasticbeanstalk/hooks/restartappserver/post/"
