:local {
  .card_link {
    width: 420px;
    height: 270px;
    margin: 15px;
  }
  .card_link_row {
    margin-bottom: 77px;
  }

  .card_img {
    width: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .card_action {
    width: 100%;
    background: whitesmoke;
  }
  .card_action p {
    height: 24px;
    width: 119px;
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 18px;
    line-height: 21px;
    background: transparent;
  }
  .header {
    margin-top: 50px;
    margin-bottom: 40px;
    p {
      margin: 0;
      color: #212121;
      // font-family: ".SF NS Display";
      font-size: 21px;
      line-height: 24px;
    }
  }
}