:local {
  .card_link {
    width: 420px;
    height: 270px;
    margin: 15px;
  }
  .card_link_row {
    margin-bottom: 77px;
  }

  .card_img {
    width: 100% !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .card_action {
    width: 100%;
    background: whitesmoke;
  }
  .card_action p {
    height: 24px;
    width: 119px;
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 18px;
    line-height: 21px;
    background: transparent;
  }
  .header {
    margin-top: 50px;
    margin-bottom: 40px;
    p {
      margin: 0;
      color: #212121;
      // font-family: ".SF NS Display";
      font-size: 21px;
      line-height: 24px;
    }
  }
  
  .direction_card {
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
    min-width: 400px;
    max-width: 453.63px;
    margin-bottom: 50px;
    box-shadow: 1px 1.5px 6px rgba(black, 0.12);
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .selected {
    -webkit-box-shadow: inset 0px 0px 33px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: inset 0px 0px 33px -7px rgba(0,0,0,0.66);
    box-shadow: inset 0px 0px 33px -7px rgba(0,0,0,0.66);
  }
}