:local {
  .incoterm_wrapper {
    padding: 10px;
  }
  .incoterm_wrapper i {
    font-size: 32px;
  }
  .dest_truck {
     transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
}