<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= wicked_pdf_stylesheet_link_tag "pdfs" %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>