<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      <%= Rails.application.assets['pdfs'].to_s.html_safe %>
    </style>
    <meta name="breezy-pdf-displayBackground" content="true">
  </head>
  <body>
      <%= yield %>
  </body>
</html>