:local {
  .incoterm_wrapper {
    padding: 10px;
  }
  .incoterm_wrapper i {
    font-size: 32px;
  }
  .fee_value {
    font-size: 12px;
    margin-top: 10px;
    vertical-align: baseline;
    color: lightslategray;
  }
  .fee_text {
    font-size: 14px;
  }
  .fee_tile {
    height: 100px;
    width: 350px;
    // box-shadow: 1px 0 0 1px rgba(0,0,0,0.25);
  }
  .fee_tile i {
    margin: 15px;
  }
}