:local {
  // .uploader input{
  //   height: 37px;
  //   width: 193px;
  //   border: 1px solid #F7F6F6;
  //   border-radius: 3px;
  //   background-color: #F9F9F9;
  //   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
  // }

  .uploader input {
    border-radius: 39px;
    // font-family: "Open Sans";  
    font-size: 18px;  
    line-height: 21px;  
    text-align: center;
    color: #FFFFFF;
    height: 33.83px;
    width: 167px;
    // margin: 5px 20px;
  }
  .upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    // font-family: "Open Sans";  
    font-size: 10px; 
    border-radius: 39px;
    line-height: 21px;  
    text-align: center;
    color: #FFFFFF;
    height: 33.83px;
    width: 167px;
  }

  .upload_btn_wrapper input[type=file] {
    font-size: 10px;  
    line-height: 21px;  
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
