:local {
  .list_item {
    border-bottom: 2px solid lightgrey;
    font-weight: bold;
    color: #4F4F4F;
    p {
      margin: 0;
      padding: 0;
      font-weight: lighter;
      font-size: 13px;
      margin-top: 3px;
    }
    &.clickable {
      cursor: pointer;

      &:hover {
        background: #f9f9f9;
      }
    }
  }
  .route_icon {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
  }
  .icon {
    font-size: 25px;
  }
  .stop_count {
    font-size: 12px;
    margin: 0;
  }
}
