:local {
  .backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0;
    right: 0;
    background: rgba(0, 12, 0, 0.25);
  }
  .content  {
    background: #FFFFFF;
    border: 1px solid rgba(1,4,6,0.25);
    box-shadow: 1px 2px 1px rgba(0,12,2,0.25);
    width: 600px;
    height: max-content;
    min-height: 400px;
    z-index: 100;
    padding-left: 15px;
    overflow-y: scroll;
  }
  .open {
    height: max-content !important;
    min-height: 75px;
    padding-top: 5px;
    overflow: visible !important;
    // visibility: normal;
    // width: 250px;
    // position: absolute;
    // z-index: 50;
  }
  .closed {
    height: 0;
    p {
      font-size: 0px;
    }
    // visibility: hidden;
    // overflow: hidden;
  }
  .hs_cell {
    transition: all 1s ease;
    height: max-content;
  }
  .cell_data_toggle {
    transition: all 1s ease;
    height: max-content;
    // background: whitesmoke;
  }
}