:local {
  .body_wrapper {
    border-radius: 5px;

    width: 600px;
  }
  .help_content {
    padding: 15px;
  }
  .help_header {
    background: darkslategray;
    color: white;
  }
  .email_row {
    margin: 5px 0;
  }
}