:local {
  .route_header p{
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 21px;
    line-height: 24px;
  }
  .doc_title {
    font-size: 10px;
    margin: 2px;
  }
  .back_to_dash_sec {
     padding: 50px 0 100px 0;
  }
  .one_line_summ {
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .download_section {
    background: #FCFCFC;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
    color: #4F4F4F;
    p {
      padding: 15px;
      font-size: 20px;
      letter-spacing: 0.02em;
      font-weight: bold;
      margin: 0;
    }
  }
}