:local {
  .route_header p{
    color: #2C2C2C;
    font-size: 21px;
    line-height: 24px;
  }
  .doc_title {
    font-size: 10px;
    margin: 2px;
  }
  .back_to_dash_sec {
     padding: 50px 0 100px 0;
  }
  .one_line_summ {
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .download_button {
    margin-top: 15px;
  }
  .send_email {
    padding-top: 28px;
    input {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  .mail_modal {
    text-align: center;
    color: #4f4f4f;
    h4 {
      margin: 18px 0 5px 0;
    }
    p.thanks {
      margin: 5px 0 20px 0;
      font-size: 13px;
    }
  }
  
  .download_section {
    background: #FCFCFC;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
    color: #4F4F4F;
    .offer_title {
      padding: 15px;
      font-size: 20px;
      letter-spacing: 0.02em;
      font-weight: bold;
      margin: 0;
    }
    .selected_offer {
      min-height: 50px;
      background: white;
      border-bottom: 1px solid #E0E0E0;
      border-top: 1px solid #E0E0E0;
      div {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-left: 15px;
      }
      span {
        padding: 15px;
        font-weight: bold;
      }
      i {
        font-size: 15px;
        color: #E0E0E0;
        padding-right: 15px;
        &:hover {
          color: rgb(225, 15, 33);
        }
      }
    }
  }

  // svg animation
  .main_svg {
    width: 100px;
    display: block;
    margin: 25px auto 0;
  }
  
  .svg_path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.svg_circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.svg_check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
  
  @-webkit-keyframes _3UvKuG1Hbt7DqP_t9LLOI- {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes _3UvKuG1Hbt7DqP_t9LLOI- {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes _19cIg92xsAU_EN4H_g71L2 {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes _19cIg92xsAU_EN4H_g71L2 {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
}