:local {
  .route_header p{
    color: #2C2C2C;
    font-size: 21px;
    line-height: 24px;
  }
  .doc_title {
    font-size: 10px;
    margin: 2px;
  }
  .back_to_dash_sec {
     padding: 50px 0 100px 0;
  }
  .one_line_summ {
    letter-spacing: 2px;
    font-size: 1rem;
  }
}