:local {
  .container_row {
    padding: 4px;
    border: 1px solid rgba(0,12,1,0.1);
    box-shadow: 1px 1px 1px rgba(2,3,4,0.25);
    margin-bottom: 15px;
  }
  .cell_header {
    font-size: 12px;
    margin: 0;
    letter-spacing: 1px;
  }
  .input_box {
    height: 36px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_box input {
    height: 36px;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .add_unit_wrapper {
    position: relative;
    &:hover + .new_container_placeholder {
      opacity: 0.2;
      visibility: visible;
    }
  }
  .add_unit {
    position: absolute;
    left: -104px;
    margin-top: 81px;
    cursor: pointer;
    i {
      opacity: 0.8;
      margin-left: 15px;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
  .new_container_placeholder {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .input_label {
    letter-spacing: 1px;
    vertical-align: middle;
    margin: 5px 0 5px 0;
  }
  .separator {
    hr {
      margin: 32px 0 25px 0;
      border: 1px solid rgba(200, 200, 200, 0.2);
    }
  }
  i.delete_icon {
    position: absolute;
    left: -35px;
    top: 32px;
    cursor: pointer;
    padding: 5px;
    opacity: 0.7;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}