:local {
  $menu-width-expanded: 200px;
  $menu-width-collapsed: 55px;
  .floating_menu {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    z-index: 50;
    background: rgb(240, 240, 240);
    padding-top: 10px;
    width: $menu-width-expanded;
    box-shadow: 1px 0 1px rgba(black, 0.25);
    transition: all 0.8s ease;
    &.collapsed {
      width: $menu-width-collapsed;
      .collapse_prompt {
        i {
          transform: rotate(180deg)
        }
      }
    }
    .menu_content {
      // padding: 0 10px;
    }
    hr {
      border-top: 1px solid rgba(black, 0.2);
      margin: -2px;
    }
    .collapse_prompt {
      width: $menu-width-expanded;
      i {
        font-size: 28px;
        margin: 0 20px 2px 10px;
        transition: all 0.8s ease;
      }
      p {
        margin: 0;
      }
      padding: 10px;
    }
  }
  .pusher {
    width: $menu-width-expanded;
    transition: all 0.8s ease;
    &.collapsed {
      width: $menu-width-collapsed;
    }
  }
}
