:local {
  .btn_sec{
    height: 227px;
    padding-top: 48px;
    // border-top: 1px solid #EDEDED;
  }
  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .date_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
}