:local {
  .btn_sec{
    height: 157px;
    padding-top: 48px;
  }

  .trucking_sec {
    height: 0px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 0.6s ease;
    &.visible {
      height: 190px;
    }
  }
  .cargo_sec {
    margin-top: 50px;
    min-height: 187px;
    .toggle_aggregated_sec {
      height: 60px;
      border-top: 3px solid rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;
      h3 {
        font-weight: normal;      
      }
    }
  }
  .date_sec {
    padding: 50px 0;
    border-bottom: 1px solid #EDEDED;
    h3 {
      margin-top: 0;
    }
  }
  .dpb {
    position: relative;
    height: 36px;
    width: 250px;
  }
  .dpb_icon {
    height: 38px;
    width: 38px;
    border: 1px solid #F2F2F2;
    border-radius: 3px 0 0 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);    
    i {
      font-size: 20px;
    }
  }
  .dpb div input {
    height: 36px;
    width: 214px;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 9px;
    z-index: 20;
  }

  .dpb.with_errors div input {
    background-color: rgba(232, 114, 88, 0.3);
    &::placeholder {
      color: rgb(211, 104, 80);
    }
  }
  .bottom_margin {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .map_cont {
    min-height: 550px;
  }
  .note_box {
    padding-left: 3vw;
    overflow: hidden;
    transition: all 1250ms ease-in-out;
  }
  .closed_notes {
    height: 0;
  }


}
