// require_self

@import "bootstrap";

.admiralty_auth_logins {
  padding-top: 80px;
  background-size: cover;
  background-image: asset-url('admiralty_assets/Hamburg.jpg');

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    background-color: white;
  }
}
