:local {
  .chargeable_weight {
    p.chargeable_weight_value {
      margin: 0 0 0 5px;
      font-size: 12px !important;
    }
  }
  .single_charge {
    padding-right: 10px;
  }
  .input_value {
    font-size: 16px;
    font-weight: bold;
  }
  p.input_label {
    letter-spacing: 0.25px;
    font-weight: 500;
    line-height: normal;
    font-size: 17px;
  }
  .charge_volume {
    border-bottom: 1px solid white;
  }
}