:local {
  .neutral {
    background-color: #D8D8D8;
    color: #2C2C2C !important;
  }
  .cookie_flex {
    position: fixed;
    display:flex;
    align-items: center;
    width: 100vw;
    height: 6vh;
    color: white;
    z-index: 1001;
    text-shadow: none;
    > * {
      margin-right: 15px !important;
    }
    transition: all 0.5s ease;
    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }
  .btn_cookie {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid white;
    box-shadow: none !important;
    border-radius: 1px;
    &:focus {
      outline: none;
    }
  }
  .accept {
    background: white !important;
  }
  .decline {
    border: 1px solid white !important;
    background: transparent;
    color: white !important;
  }
  .accept_modal {
    color: white !important;
    margin-right: 20px;
    margin-bottom: 9px;
  }
  .decline_modal {
    background: white !important;
  }
	p.cookie_text {
		text-shadow: 1px 1px rgba(100, 100, 100, 0.3);
    margin: 0;
    padding-left: 35px;
    display: inline-block;
    a {
      color: white !important;
    }
	}
	i.cookie_exit_icon {
		transition: all 0.3s ease;
		color: rgba(white, 0.8);

		&:hover {
			color: rgba(white, 1);
		}
  }
  .cookie_modal {
    color: #4F4F4F;
    max-width: 25vw;
  }
}
