$bar-height: 16.5vh;
$dark: #656565;
$green: #204f5a;
$darkgreen: #052519;
$bigger: 120%;
$breakpoint: 940px;
$font: 85%;
$breakpoint-small: 640px;
$font-small: 55%;
$scale: 1.176;
$down-scale: 0.7;
:local {
  .vertical_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .description {
    color: $dark;
  }
  .title {
    @extend .description;
    font-weight: 800;
    font-size: $bigger;
    padding-bottom: 0.5vh;
  }
  .show_details {
    @extend .vertical_center;
    text-decoration: underline;
    padding-left: 3vw;
    a {
      border-bottom: 1px solid dark;
      color: $dark;
      cursor: pointer;
    }
  }
  .accept_all {
    background-color: $green;
    transition: all 0.3s ease;
    padding: 1.6vh 2vw;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 0.25em;
    display: flex;
    align-self: center;
    color: white;
    cursor: pointer;
    font-size: 105%;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    &:hover,
    &:focus {
      background-color: $darkgreen;
    }
    i {
      padding-right: 4px;
    }
  }
  .details_link {
    padding-right: 1vw;
  }
  .modal_background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    z-index: 1002;
  }
  .modal {
    padding: 3vh;
    background: white;
    position: fixed;
    bottom: $bar-height;
    left: 20%;
    width: 60%;
    z-index: 1003;
    height: 100vh - 2 * $bar_height;
    @media screen and (max-height: $breakpoint) {
      padding: 3%;
      top: 5%;
      bottom: 5%;
      left: 5%;
      right: 5%;
      width: 90%;
      height: 90%;
    }
    @media screen and (max-height: $breakpoint-small) {
      padding: 2%;
      top: 2%;
      bottom: 2%;
      left: 5%;
      right: 5%;
      width: 90%;
      height: 96%;
    }
  }
  .modal_title {
    font-size: 200%;
    font-weight: 800;
    @media screen and (max-height: $breakpoint) {
      font-size: 200%*$down-scale;
    }
  }
  .modal_description {
    font-size: $bigger;
    width: 75%;
    @media screen and (max-height: $breakpoint) {
      font-size: $font* $scale;
    }
    @media screen and (max-height: $breakpoint-small) {
      font-size: $font-small* $scale;
    }
  }
  .modal_separator {
    padding: 1vh;
    border-bottom: 1px solid $dark;
  }
  .modal_section_title {
    @extend .vertical_center;
    font-weight: 800;
    font-size: 170%;
    @media screen and (max-height: $breakpoint) {
      font-size: 170%*$down-scale;
    }
  }
  .modal_section_text {
    font-size: 100%;
    @media screen and (max-height: $breakpoint) {
      font-size: $font;
    }
    @media screen and (max-height: $breakpoint-small) {
      font-size: $font-small;
    }
  }
  .modal_section_button {
    @extend .vertical_center;
    text-align: center;
    i {
      transition: all 0.3s ease;
      cursor: pointer;
    }
    i.active {
      color: #0db14b;
    }
    i.inactive {
      color: #c1c1c1;
    }
    i.mandatory {
      color: #b8d9c4;
      cursor: not-allowed;
    }
  }
}