:local {
  .note_card {
    margin: 5px;
    border-radius: 3px;
    width: 300px;
    min-height: 175px;
    p {
      font-size: 10px;
      margin: 4px 0;
    }
  }
  .note_header {
    font-size: 12px !important;
  }
  .note_route {
    font-size: 14px !important;
    font-style: italic;
  }
  .urgent {
    .note_route {
      border-bottom: 1px solid darkred;
    }
    box-shadow: 1px 1px 1px 2px rgba(139,0,0,0.25);
    i.warning_icon {
      color: darkred;
    }
  }
  .important {
    .note_route {
      border-bottom: 1px solid rgb(243, 133, 6);
    }
    box-shadow: 1px 1px 1px 2px rgba(243, 133, 6, 0.25);
    i.warning_icon {
      color:  rgb(243, 133, 6);
    }
  }
  .notification {
    .note_route {
      border-bottom: 1px solid darkgoldenrod;
    }
    box-shadow: 1px 1px 1px 2px rgba(184,134,11, 0.25);
    i.warning_icon {
      color:  darkgoldenrod;
    }
  }
  .alert {
    .note_route {
      border-bottom: 1px solid darkgreen;
    }
    box-shadow: 1px 1px 1px 2px rgba(0,100,0,0.25);
    i.warning_icon {
      color:  darkgreen;
    }
  }
}