:local {
  .button {
    font-size: 12px;
    margin-top: 5px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  .urgent_border_style {
    border: 2px solid #D73C1D;
  }
  .important_border_style {
    border: 2px solid #FF9626;
  }
  .notification_border_style {
    border: 2px solid #FFCF32;
  }
  .alert_border_style {
    border: 2px solid #6DC66B;
  }
  .note_card {
    margin: 5px;
    background: white;
    border-radius: 3px;
    min-height: 135px;
    padding: 10px;
    p {
      margin-top: 10px !important;
      padding-top: 10px;
      border-top: 1px solid #E0E0E0;
      font-size: 12px;
      margin: 4px 0;
      // padding-left: 32px;
    }
  }
  .note_route {
    span {
      font-size: 15px;
      padding-left: 15px;
      font-weight: bold;
    }
  }
  .urgent {
    .note_route {
      border-bottom: 1px solid #D73C1D;
    }
      background: #D73C1D;
      i {
        color: white;
      }
  }
  .important {
    .note_route {
      border-bottom: 1px solid #FF9626;
    }
    background: #FF9626;
    i {
      color: white;
    }
  }
  .notification {
    .note_route {
      border-bottom: 1px solid darkgoldenrod;
    }
    background: #FFCF32;
    i {
      color:  white;
    }
  }
  .alert {
    .note_route {
      border-bottom: 1px solid #6DC66B;
    }
    background: #6DC66B;
    i {
      color:  white;
    }
  }
}