:local {
  .get_offers_section {
    border-top: 1px solid #ededed;
    .border_divider {
      padding-top: 48px;
    }
  }

  .sub_texts_container {
    padding-top: 20px;
    margin: 0;
    font-size: '14px';
  }
}
