@import './defaults';

:local {
  .content_width {
    width: 1000px;
    max-width: 90%;
    // box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    @media screen and (min-width: 1920px) {
      width: 1200px;
    }

  }

  .button_padding {
    padding: 60px 5px;
  }

  .padd_top {
    padding-top: 35px;
  }

  .spacing_lg_top {
    margin-top: $spacing-lg;
  }

  .spacing_md_top {
    margin-top: $spacing-md;
  }

  .spacing_md_bottom {
    margin-bottom: $spacing-md;
  }

  .spacing_sm_left {
    margin-left: $spacing-sm;
  }

  .spacing_sm_right {
    margin-right: $spacing-sm;
  }

  .mc {
    height: max-content;
  }

  .border_divider {
    border-top: 1px solid #ededed;
  }
  .border_divider_black {
    border-top: 1px solid black;
  }

  .pointy {
    cursor: pointer;
  }

  .emulate_link {
    cursor: pointer;

    &.blue_link {
      color: #0645AD;
    }
    &:hover {
      text-decoration: underline;
    }
  }


}
:global {
  .emulate_link {
    cursor: pointer;

    &.blue_link {
      color: #0645AD;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .relative {
    position: relative;
  }
  .extra_padding {
    padding-left: 70px;
    padding-right: 70px;
    @media screen and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 420px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .extra_padding_left {
    padding-left: 70px;
    @media screen and (max-width: 768px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 420px) {
      padding-left: 25px;
    }
  }
  .content_width {
    width: 100%;
    max-width: 100%;
    // box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  }
  .content_width_booking {
    width: 1000px;
    max-width: 95%;
    @media screen and (min-width: 1920px) {
      width: 1200px;
    }
  }
  .margin_5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .ie_frame {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 2000px;
    }
    // ppheight: auto;
  }
  .no_max {
    max-height: none !important;
  }
  .hundred {
    min-height: 100vh;
  }
  .pointy {
    cursor: pointer;
  }
  .letter_2 {
    letter-spacing: 2px;
  }
  .letter_1 {
    letter-spacing: 1px;
  }
  .sub_header_text {
    margin: 0;
    font-size: 22px;
    letter-spacing: 3px;
  }
  .backdrop_all {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
  }
  .letter_3 {
    letter-spacing: 3px;
  }
  .rotate_45{
    transform: rotate(45deg);
  }
  .rotate_90{
    transform: rotate(90deg);
  }
  .rotate_135{
    transform: rotate(135deg);
  }
  .rotate_180{
    transform: rotate(180deg);
  }
  .bg_white {
    background: #FFFFFF;
  }
  .p_rel {
    position: relative;
  }
  .padd_20 {
    padding: 20px;
  }
  .bg_icon {
    margin: 25px;
    opacity: 0.25;
  }
  .clip {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .mc {
    height: max-content;
  }
  .center {
    text-align: center;
  }
  .button_padding {
    padding: 60px 5px;
  }
  .sec_title_text {
    margin: 0;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 30px;
  }
  .section_padding {
    margin: 25px 0px;
  }
  .sup {
    font-size: 8px;
    text-align: start;
  }
  .sup_l {
    font-size: 12px;
    text-align: start;
  }
  .no_m {
    margin: 0;
  }
  .five_m {
    margin: 5px;
  }
  .no_padding {
    padding: 0;
  }
  .sec_title_text_normal {
    margin: 0;
    font-size: 30px;
  }
  .sec_header_text {
    margin: 0;
    font-size: 22px;
  }
  .sec_subheader {
    height: 50px;
  }
  .sec_subheader_text {
    margin: 0;
    font-size: 18px;
  }
  .height_100 {
    min-height: 100%;
  }
  .width_100 {
    width: 100%;
  }
  .margin_1{
    margin: 1%;
  }
    .input_box {
    // height: 38px;
    // // width: 170px;
    // border: 1px solid #F2F2F2;
    // border-radius: 3px;
    // background-color: #F9F9F9;
    // box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_box input {
    height: 34px;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .input_box_full input {
    height: 34px;
    width: 100%;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .input_box_full textarea {
    width: 100%;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .header_buffer {
    margin-top: 60px;
  }
  .buffer_10 {
    margin: 10px 0;
  }
  .flip_icon_horizontal {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  .padding_bottom {
    padding-bottom: 25px;
  }
  .padding_top {
    padding-top: 25px;
  }
  .card_padding{
    padding: 8px;
  }
  .card_padding_right{
    padding-right: 25px;
  }
}
