@import './defaults';

.content-width {
  width: 1000px;
}
.button_padding {
  padding: 60px 5px;
}
.padd_top {
    padding-top: 35px;
}

.spacing-lg-top {
  margin-top: $spacing-lg;
}

.spacing-md-top {
  margin-top: $spacing-md;
}

.spacing-md-bottom {
  margin-bottom: $spacing-md;
}

.spacing-sm-left {
  margin-left: $spacing-sm;
}

.spacing-sm-right {
  margin-right: $spacing-sm;
}
.mc {
  height: max-content;
}
.border_divider {
  border-top: 1px solid #EDEDED;
}