:local {
  .contact_header{
    margin: 3px 0;
    color: #212121; 
    font-size: 16px;  
    line-height: 18px;
  }
  .contact_details p{
    margin: 3px 0;
    color: #212121; 
    font-size: 14px;  
    line-height: 16px;
  }
  .contact_card {
    height: 113px !important;
    margin: 5px;
    background-color: #F2F2F2;  
    padding: 15px 15px 0px 15px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    .overlay {
      opacity: 0;
      background: black;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease;
    }
    &:hover .overlay {
      opacity: 0.03;
    }
  }
}