:local {
  .contact_header{
    margin: 3px 0;
    color: #212121; 
    font-size: 16px;  
    line-height: 18px;
  }
  .contact_details p{
    margin: 3px 0;
    color: #212121; 
    font-size: 14px;  
    line-height: 16px;
  }
  .contact_card {
    margin: 5px 0;
    background-color: #FCFCFC;  
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
  }
  .contact_scroll {
    height: 300px;
    overflow-y: scroll;
    overflow-x: none;
  }
  .contact_card i {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
}