:local{
  .input_box {
	  height: 40px;
	  width: 170px;
	  border-radius: 3px;
	  background-color: #F9F9F9;
	  box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
	  border: 1px solid #F2F2F2;
	}
	.input_box input {
	  border: 1px solid #F2F2F2;
	  border-width: 0 1px;
	  background-color: #F9F9F9;
	  padding: 0 10px;
	  &:focus {
	    outline: none;
	  }
	}	
}