<%if company.present? %>
  <div class="agent-info">
    <strong>Company</strong>
    <address>
      <p><strong><%= company.name %></strong></p>
      <p><%= company.branch_id %></p>
    </address>
  </div>
<%end%>
