@import '../../styles/defaults';
@import '../../styles/mixins';

:local {
  .content_wrapper {
     @media screen and (-ms-high-contrast: active),
     (-ms-high-contrast: none) {
       min-height: 700px;
     }
  }
  .tenant_logo_landing {
    width: 230px;
    margin-top: 130px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-top: 100px;
    }
    @media (max-width: 1024px), (max-height: 850px)  {
      margin-top: 100px;
      width: 230px;
    }
    @media (max-width: 960px), (max-height: 600px) {
      margin-top: 60px;
      width: 195px;
    }
    @media (max-width: 600px), (max-height: 400px) {
      margin-top: 40px;
      width: 170px;
    }
  }

  

  .wrapper_btns {
    margin-bottom: 15px;
    a {
      color: white;
      text-decoration: underline !important;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .wrapper_tenant_logo {
    width: 317px;
  }

  .tenant_logo {
    margin-left: -4px; // correction of the padding within the png
  }
  .powered_by_logo {
    width: 200px;
    height: auto;
  }

  .top_mask {
    background-image: url("https://assets.itsmycargo.com/assets/images/topmask_new.png");
    background-position: center;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0;
    @media (min-width: 1024px) and (max-width: 1366px) {
    width: 130%;
    left: -230px;
    }
  }
  .top_shade {
    background-image: linear-gradient(
        rgba(black, 0.3),
        rgba(black, 0.3)
      );
    background-position: center;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0;
  }

  .landing_video {
    position: absolute;
  }

  .landing_video_content {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  // Device = Desktops, Screen = 1281px to higher resolution desktops
  @media (min-width: 1281px) {
    .landing_video { width: 100%; }
  }

}