// LandingTop {
//   height: 350px;
// }
.landing_top {
  color: red;
  background-image: url('https://assets.itsmycargo.com/assets/images/welcome/country/header.jpg');
  height: 400px; 
  background-size: cover;
  background-position: center;
}
