@import "../../styles/defaults";
:local {
  form.login_ie_11 {
    margin-top: calc(100vh/6);
    min-height: 200px;
    min-width: 300px;
    max-height: 500px;
    max-width: 600px;
    font-weight: 900;
  }
  form.login_form {
    width: 317px;
    color: black;

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $grey;
      font-size: 14px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $grey;
      font-size: 14px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $grey;
      font-size: 14px;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $grey;
      font-size: 14px;
    }
    input, label {
      display: block;
    }
    hr {
      border: .5px solid rgb(10, 10, 10);
      margin: 0 0 30px 0;
    }
    .form_group_submit_btn {
      padding-top: 25px;
      position: relative;
      .spinner {
        opacity: 0.6;
        position: absolute;
        top: 30px;
        right: 7px;
        transform: scale(0.25);
        transform-origin: top right;
      }
    }
    label {
      text-transform: uppercase;
      margin-bottom: 4px;
    }
  }

  .form_control {
    font-size: 14px;
    background: transparent;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 6px 0;
    &:focus {
      outline: none;
      background: rgba(black, .003);
    }
  }


  .forget_password_link {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    float: right;
    margin-top: -20px;
    cursor: pointer;
  }

  .saml_border {
    border: 1px inset !important;
    margin: 30px 0 !important;
  }
}