:local {
  $themeColor: #F9F9F9;
  $checkboxSize: 25px;
  $uncheckedBG: transparent;
  $checkedBG: $themeColor;
  $checkedColor: black;
  $disabledBG: rgba(200, 200, 200, .3);

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .checkbox {
    border: 1px solid rgb(240, 240, 240);
    margin-right: 10px;
    border-radius: 3px;
    input {
      display: none !important;
    }

    input {
      + span {
        display: flex;
        width: $checkboxSize;
        height: $checkboxSize;
        background: $uncheckedBG;
        align-items: center;
        justify-content: center;
        color: white;
        box-sizing: border-box;
        transition: all 0.3s ease;
        box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
        border-radius: 3px;
        cursor: pointer;
        i {
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease;
          transform: scale(0.7);
        }
        i.show {
          text-align: center;
          visibility: visible;
          opacity: 1;
          z-index: 5;
          transform: scale(1);
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            right: 8px;
          }
        }
      }
      // &:checked {
      //   + span {
      //     border-width: $checkboxSize / 2;
      //   }
      // }
      &:disabled {
        + span {
          background: $disabledBG;
        }
      }
    }
  }
}