:local {
  .reader_title {
    font-size: 28px;
    padding: 10px;
  }
  .note_header {
    padding: 10px;
    p {
      font-size: 24px;
      font-weight: 800
    }
  }
  .note_body {
    padding:20px 10px 10px 10px;
    font-size: 12px;
  }
}