@import "../../styles/defaults";
:local {
  .wrapper_landing {
    background: $light-grey;
    position: relative;
  }
  .service_label{
    background-color: $light-grey;
    padding: 70px 0 40px 0;
    div {
      width: 100%;
      text-align: center;
    }
    h2 {
      font-weight: normal;
    }
  }
  .services_row {
    position: relative;
    box-shadow: 0 1.5px 8px rgba(black, .12);
    background: white;
    padding: 50px 0;
    margin-top: -10px;
    h3 {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
  .service_box{
    position: relative;
  }
  .services_row:before {
    top: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 12px solid white;

    box-sizing: border-box;
      
    transform-origin: 0 0;
    transform: rotate(135deg);
    
    box-shadow: -0.5px 0.5px 0.5px rgba(black, .05);
  }

  .service_row .service {
    height: 150px;
    width: 150px;
    background-color: transparent;
    margin: 75px;
    
  }
  .service_text{
    max-width: 250px;
    p { margin: 10px; text-align: center;}
  }
  .service i {
     // background: -webkit-linear-gradient(#00E503, #00ACE5);
    // @media screen { 
    //   @media (min-width: 0px) {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    //   } 
    // }

    font-size: 40px !important;
    
  }
  .mc {
    height: max-content;
  }
  .btm_promo_img {
    background-image: url('https://assets.itsmycargo.com/assets/default_images/container_ship_sm.jpg');
    background-size: cover;
    background-position: center;
  }
  .btm_promo_text {
    padding: 35px 70px;
    h2 {
      font-weight: normal;
      font-size: 21px;
    }
    p {
      font-size: 18px;
    }
  }
  .btm_promo_text > div {
    height: 100%;
  }

  .btm_promo_btn_wrapper {
    margin-top: 40px;
  }

  .btm_promo {
    background: white;
    position: relative;
    min-height: 500px;
    box-shadow: 0 1.5px 8px rgba(black, .12);
    i {
      color: $green;
      margin-right: 10px;
    }
  }
  .btm_promo > i {
    color: $green;
    margin-right: 10px;
  }
  .promo_bullets {
    div {
      width: 100%;
      margin: 5px;
      p {
        max-width: 90%;
        @media screen and (max-width: 1200px) {
          font-size: 12px;
        }
      }
    }
  }
}