:local {
  .routeContainer {
    display: flex;
    flex-flow: column;
    flex-basis: 30%;

    height: fit-content;
    padding: 15px;

    background: rgba(0,0,0,.55);
  }

  .routeHeader {
    display: flex;
    justify-content: space-between;
  }

 .label {
    color: #FFFFFF;
    font-size: 22px;
    display: inline;
  }

  .routeSelectionErrors {
    color: #FFFFFF;
    i {
      color: yellow;
      margin-right: 5px;
    }
  }
}
