<div class="row justify-content-center">
  <div class="col-sm-9">
    <%= link_to "New", new_organization_path, class: 'button' %>
  </div>
  <div class="col-sm-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Slug</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
      </thead>

      <tbody>
        <%= render collection: @organizations, partial: 'organization'%>
      </tbody>
    </table>
  </div>
</div>
