:local {
  .contact_card {
    margin: 5px;
    position: relative;
    border: 2px solid black;
    height: 100% !important;
    padding: 55px 20px 25px 20px;
  	i {
		  -webkit-background-clip: text !important;
			-webkit-text-fill-color: transparent !important;

  	}
  	i.main_icon {
		  font-size: 24px;
		  padding: 0 10px;
    }
    i.plus_icon {
      background: rgb(140, 140, 140);
			@media screen and (-ms-high-contrast: active),
			(-ms-high-contrast: none) {
				color: grey;
				background: transparent;
			}
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 22px;
      transition: all 0.3s ease;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    i.edit_icon {
			background: rgb(140, 140, 140);
			@media screen and (-ms-high-contrast: active),
			(-ms-high-contrast: none) {
				color: grey;
				background: transparent;
			}
      position: absolute;
      right: 46px;
      top: 15px;
      font-size: 22px;
      transition: all 0.3s ease;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
	  h3.contact_name {
	  	font-size: 26px;
	  	margin: 0 0 25px 0;
	  }
		.secondary_info {
			line-height: 26px;
			margin: 0;
			font-size: 19px;
			font-weight: normal;
		}
		.secondary_info_city {
			line-height: 22px;
			margin: 0;
			font-size: 16px;
			font-weight: normal;
		}
		.secondary_info_country {
			line-height: 18px;
			margin: 0;
			font-size: 14px;
			font-weight: normal;
		}
		.contact_data_sec {
			padding: 20px 5px;
			i {
				width: unset;
				padding: 0px 5px 0 0;
				font-size: 12px;
			}
			.contact_data {
				font-size: 12px;
				margin: 0;
			}
		}
  }
  @media only screen and (max-width: 960px) {
    .contact_card {
      height: 100% !important;
    }
  }
}
