@import "../../styles/defaults";

  :local{
    .blog_post {
      height: 379px;  
      width: 402px; 
      border-radius: 4px; 
      background-color: #FFFFFF;  
      box-shadow: 0 13px 13px 0 rgba(0,0,0,0.15);
      margin: 0 12px;
      padding-bottom: 10px;
    }
    .bp_text  {
      padding: 5%;
      width: 100%;
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        width: 85%;
      }
    }
    .bp_action {
      padding: 5%;
      width: 100%;
    }
    .bp_image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
    .blog_post_highlights {
      background: $light-grey;
      padding-bottom: 130px;
      min-height: 450px;
    }
    .service_label{
      background-color: $light-grey;
      padding: 70px 0 40px 0;
      h2 {
        font-weight: normal;
      }
    }
}