:local {
  .upload_btn_wrapper {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .icon_row {
    width: 80px;
    height: 35px;
  }
  .viewer_row {
    width: 120px;
    height: 35px;
  }
  .upload_btn_wrapper input[type=file] { 
    width: 0;
    height: 0;
    opacity: 0;
  }
  .upload_btn_wrapper form {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .tooltip {
    max-width: 150px !important;
    text-align: left !important;
  }
  .error {
    height: 40px !important;
    
  }
  .form_label {
    background: darkgray;
    color: white;
    border-radius: 5px 0 0 5px;
  }
  .form {
    border-radius: 5px;
    margin: 10px 0;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
    p {
      margin: 5px;
    }
    height: 35px;
    font-size: 12px;
  }
  .file_error {
    overflow: hidden;
    height: 0px;
    font-size: 12px;
    color: red;
    transition: all 2s linear;
  }
  .icon_btn {
    height: 35px;
    width: 35px;
    border: none;
    background: transparent;
    i {
      font-size: 20px;
    }
  }
}
