:local {
  .input {
    margin: 10px 0;
    height: 36px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    width: 100%;
  }
  .icon_btn {
    height: 25px;
    width: 25px;
  }
  .login_form {
    width: 100%;
  }
}