:local {
  .wrapper_form {
    height: calc(84vh - 110px - 172px);
    overflow-y: auto;
    overflow-x: none;
  }
  .input {
    height: 36px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 0 10px;
    width: calc(100% - 10px);
    &:focus {
      outline: none;
    }
  }
  .wrapper_input {
    margin-bottom: 25px;
  }
  .icon_btn {
    height: 25px;
    width: 25px;
  }

  .icon_label {
    padding: 10px 15px 10px 0;
    font-size: 29px;
    width: 30px;
  }

  .grouped_inputs {
    padding: 10px 0;
  }
}