:local {
  .wrapper {
    width: 150px;
    height: 100px;
    min-height: 500px;
    position: fixed;
    top: 100px;
    left: 50px;
  }
  .icon_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    i {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .menu_content {
    position: fixed;
    overflow: hidden;
    text-align: center;
    height: 0%;
    z-index: 10;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
  }
  .open {
    height: 70%;
    width: inherit;
  }
  .closed {
    height: 0px !important;
    overflow-y: hidden;
  }
}
