:local {
  .message_inner {
    // border-radius: 10px;
    // box-shadow: 0 2px 2px 1px rgba(12,13,14,0.25);
    // position: absolute;
    padding: 5px;
    width: 70%;
    position: relative;
    background: #00aabb;
    border-radius: .4em;
  }
  .message_wrapper {
    padding: 5px;
    position: relative;
    margin-top: 15px;

  }
  .message_title{
    font-size: 75%;
    margin: 5px;
  }
  .message_text{
    font-size: 12px;
    margin: 5px;
  }
  .convo_tile_wrapper {
    padding: 3px;
  }
  .convo_tile {
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(12,13,14,0.75);
    background: #fff;
    padding-left: 15px;
  }
  .timestamp {
    font-size: 10px;
  }
  .send_button {
    width: 95%;
    height: 125px;
    border-radius: 10px;
    i {
      color: white;
    }
  }
  .text_area {
    margin: 5px;
    height: 112px;
    width: calc(100% - 10px);
    border: 1px solid rgba(0, 12, 13, 0.75);
    border-radius: 3px;
    background-color: #F9F9F9 !important;
    box-shadow: 1px 2px 3px 1px rgba(237,234,234,0.5);
  }
  .text_input {
    margin: 5px;
    border: 1px solid rgba(0, 12, 13, 0.75);
    box-shadow: 1px 2px 3px 1px rgba(237,234,234,0.5);
  }
  .convo_wrapper {
    height: 100%;
    position: relative;
  }
  .message_scroll {
    overflow-y: scroll;
    position: relative;
  }
  .user_style {
    right: 5px;
  }
  // .user_style:after {
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   top: 75%;
  //   width: 0;
  //   height: 0;
  //   border: 20px solid transparent;
  //   // border-left-color: #00aabb;
  //   border-right: 0;
  //   border-bottom: 0;
  //   margin-top: -10px;
  //   margin-right: -20px;
  // }
  .tenant_style {
    left: 5px;
  }
  // .tenant_style:after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 75%;
  //   width: 0;
  //   height: 0;
  //   border: 20px solid transparent;
  //   // border-right-color: #00aabb;
  //   border-left: 0;
  //   border-bottom: 0;
  //   margin-top: -10px;
  //   margin-left: -20px;
  // }
  .show_details {
    width: 100%;
    position: relative;
    z-index: 40;
    height: 450px;
    opacity: 1;
  }
  .hide_details {
    height: 0px;
    z-index: -1;
    opacity: 0;
  }
  .top_row {
    margin-bottom: 20px;
  }
  .header_hub {
    position: relative;
    .map_marker {
      margin: 10px;
    }
    .flag {
      margin: 10px;
      // position: absolute;
      // left: -23px;
      // top: -1px;
    }
  }
  .connection_graphics {
    margin: -41px 27px 0 10px;
    width: 110px;
  }

  h4.date_title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-shadow: 1px 1px rgba(black, .14);
    opacity: .7;
    margin-bottom: 8px;
    font-size: 14px;
  }
  p.sched_elem {
    margin-right: 10px;
    font-size: 14px;
  }
  .tot_price {
    color: white;
    padding: 0 15px;
    height: 49px;
    width: 296px;
    border-radius: 50px;
  }
  .data_overlay {
    // position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 1px rgba(237,234,234,0.5);
  }
  .data_box {
    position: relative;
    background: #fff;
  }
  .summary {
    position: relative;
    top:25px;
    // height: 100%;
    background: #fff;
    border-radius: 10px;
  }
   .summary_wrapper {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 1px rgba(237,234,234,0.5);
    z-index: 10;
    overflow: hidden;
  }
  .summary_wrapper_closed {
    background-color: #fff;
  }
  .summary_wrapper_open {
    background-color: #00aabb !important;
  }
  .msg_form {
    padding: 5px;
  }
  .detail_wrapper_open{
    position: fixed;
    top: initial;
    background-color: rbga(255,255,255,1) !important;
  height: 100%;
  }
  .detail_wrapper_closed {
    background-color: rbga(255,255,255,0) !important;
    height: 0px;
  }
  .detail_content {
    position: relative;
    *{
      transition: all 0.75s linear;
      overflow: hidden;
    }
    transition: all 0.75s linear;
    h3 {
      transition: all 0.75s linear;
    }

  }
  .convo_list {
    position: relative;
    overflow: scroll;
  }
}