:local {
  .option {
    height: 45px;
    padding: 3px;
    margin: 5px;
    // box-shadow: 0 0 7px rgba(black, 0.08);
    transition: all 0.2s ease;
  
  }
  .op_type {
    font-size: 10px;
    width: 90%;
    // border-bottom: 1px solid 
  }
  .op_content {
     color: #212121;
    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 18px;
  }
  .date {
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    padding-bottom: 2px;
  }
  .option i {
      font-size: 15px;
      height:15px;
      width: 15px;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
}