:local {
  .selector {
    height: 550px;
    margin-top: 50px;
    overflow-y: scroll;
  }
  .input_box {
    height: 38px;
    width: 300px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_box input {
    height: 100%;
    width: 100%;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
}