:local {
  .itinerary_row {
    height: 70px;
    position: relative;
    margin-bottom: 4px;
    border-top: 2px solid #E0E0E0;
  }
  .itinerary_row_box {
    height: 70px;
    position: relative;
  }
  .itinerary_row_btn {
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    text-decoration-line: underline;
  }
  .city_name {
    margin: 2px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
  }
  .city_context {
    margin: 2px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
  }
  .divider {
    position: absolute;
    left: 1px;
    width: 2px;
    height: 80%;
    top: 10%;
    background: #BDBDBD;
  }
  .chevron_icon {
    height: 100%;
    i {
      font-size: 30px;
    }
  }
  .mot_icon {
    i {
      font-size: 30px;
    }
  }
}