:local {
  .extra_padding_left {
    padding-left: 10px;
  }
  .searchable {
    width: 100%;
    position: relative;
  }
  .card_link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .back {
    padding-left: 15px;
  }
  .forward {
    padding-right: 15px;
  }
  .set_button_height {
    min-height: 220px;
    color: #BDBDBD;
    p {
      margin-top: 12px;
    }
    h1 {
      font-size: 60px;
      margin: 0;
      color: #BDBDBD;
    }
    &:hover {
      color: #4F4F4F;
      h1 {
        color: #4F4F4F;
      }
    }
  }
  .searchable_section {
    min-height: 440px;
  }
  .position_fixed_right {
    width: 100%;
  }
  .itinerary_row {
    background-color: #FCFCFC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
    margin: 10px 0;
    padding: 18px 36px;
    position: relative;
    h4, p {
      margin: 0;
    }
    h4 {
      font-weight: normal;
    }
  }
  .pagination_buttons {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
  }
  .searchable_header{
    padding: 0;
  }
  .searchable_header.overlay {
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 50;
    background:(211, 211,211,0.75);
    h2 {
      margin: 0;
    }
  }
  .sec_title {
    min-height: 45px;
    font-weight: bolder;
  }
  .sec_header {
    min-height: 60px;
  }
  .select {
    width: 195px;
  }
  .address_card {
    height: 350px;
    width: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
  }
  .address_card p {
    margin: 5px;
  }
  .sec_title_text {
    margin: 0;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 30px;

  }
  .icon_buffer {
    padding: 0 10px;
  }
  .super{
    font-size: 8px;
  }
  .clip {

    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .icon {

    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 9px;
  }
  .address {
    height: 92px;
    width: 118px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
    font-style: normal;
  }
  .itinerary_address {
    font-style: normal;
  }
  .btn_sec{
    padding: 100px 0 70px 0;
  }

  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .sec_title_text_normal {
    margin: 0;
    font-size: 30px;
  }
  .sec_header_text {
    margin: 0;
    padding-right: 10px;
    font-size: 22px;
  }
  .new_contact {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .new_contact_backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    background: rgba(2,3,1,0.25);
  }
  .new_contact_content {
    width: 650px;
    height: 550px;
    position: fixed;
    top: 125px;
    z-index: 85;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .sec_subheader {
    height: 50px;
  }
  .sec_subheader_text {
    margin: 0;
    font-size: 18px;
  }
  .sec_upload {
    height: 150px;
  }
  .charge_card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .charge_header {
    position: relative;
  }
  .btn_sec{
    height: 227px;
    padding-top: 48px;
  }
  .input_box {
    height: 38px;
    width: 100px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    margin-top: -37px;
    margin-bottom: 40px;
  }
  .inpu_box_right_margin {
    margin-right: 10px;
  }
  .input_box input {
    height: 38px;
    border: 1px solid #BDBDBD;
    background-color: transparent;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    min-width: 80%;
    max-width: 100%;
    &:focus {
      outline: 1px solid #E0E0E0;
    }
  }
  .dpb_picker div input{
    height: 36px;
    width: 214px;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 9px;
  }
  .fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.25);
    z-index: 3;
  }
  .content {
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .content i, .content h3, .content p {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .charge_opt {
    color: black;
    margin: 5px;
  }
  .charge_opt p {
    margin: 0;
  }
  .charge_panel {
    height: max-content;
  }
  .sched_selector i, .sched_selector p {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

  }
  .hub_card {
    width: 240px;
    height: 200px;
    margin: 5px;
    color: #FFFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bg {
    position: absolute;
    z-index:1;
    height: 100%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
  }
  .route_hub_top {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 50%;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bottom {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 50%;
    right:0;
    left:0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content_top, .content_bottom {
    width: 100%;
    overflow: hidden;
  }
  .icon_box {
    height: 100%;
    padding: 10px;
  }
  .price_card {
    margin: 5px;
    width: calc(50% - 10px);
  }
  .price_card .title {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .price_card p {
    margin: 0;
  }
  .slider_container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;

  }
  .margin_header {
    margin-top: 25px;
  }
  .slider_inner {
    margin-right: 15px;
    position: relative;
    width: max-content;
    min-width: 100%;
  }
  .route_price h3 {
    margin: 0;
  }
  .hub_route_price {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
    margin: 10px 0;
  }
  .price_row {
    p {
      margin: 0;
    }
  }
  .navigation_button {
    background: white;
    color: #4F4F4F;
    i {
      height: 26px;
      width: 26px;
      font-size: 25px;
      transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
    opacity: 0.9;
    
    &:hover {
      opacity: 1;
      i {
        font-size: 27px;
      }
    }
    &.disabled {
      cursor: default;
      color: #E0E0E0;
      &:hover {
        i {
          font-size: 25px;
        }
        color: #E0E0E0;
      }
    }
  }
  .price_subheader {
    padding: 5px;
    p{
      margin: 2px;
      font-size: 14px;
    }
  }
  .price_cell {
    padding: 5px;
    p{
      margin: 2px;
      font-size: 12px;
    }
  }
  .price_row_detail {
    margin: 4px 0;
    padding: 5px;
    p {
      margin: 0;
    }
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .price_row_detail {
    margin: 5px 0;
    padding: 10px;
    p {
      margin: 0;
    }
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .editor_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
  }
  .editor_fade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,0.25);
  }
  .editor_box {
    width: 75vw;
    min-width: 800px;
    max-width: 95%;
    height: 50%;
    z-index: 52;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.45);
  }
  .editor_input input{
    height: 34px !important;
    width: 95%;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .expand_panel {
    transition: all 2s bounce;
  }
  .show_style {
    height: max-content !important;
    opacity: 1 !important;
  }
  .hide_style {
    height: 0;
    opacity: 0;
  }
  .trucking_city_header {
    padding: 4px;
    p {margin: 0;}
  }
  .trucking_city_header_label {
    font-size: 14px;
    margin: 0;
  }
  .trucking_cell {
    padding: 4px;
  }
  .fee_subtitle {
    font-size: 10px;
  }
  .trucking_cell_label {
    font-size: 10px;
  }
  .trucking_zip {
    margin-bottom: 15px;
  }
  .trucking_header_card {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(0,0,0, 0.15);
    box-shadow: 1px 1px 1px rgba(0,12,12,0.25);
  }
  .trucking_zip_row {
    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(0,0,0, 0.15);
    box-shadow: 1px 1px 1px rgba(0,12,12,0.25);

  }
  .trucking_panel {
    transition: all 2s bounce;
  }
  .trucking_expanded {
    height: max-content !important;
    opacity: 1 !important;
  }
  .trucking_closed {
    height: 0;
    opacity: 0;
    z-index: -1;
  }
  .hub_form {
    width: 800px;
    background: #FFFFFF;
  }
  .route_form {
    width: 600px;
    padding: 25px;
    z-index: 52;
    background: #FFFFFF;

  }
  .form_padding {
    padding: 0 15px;
  }
  .form_row, .map_padding {
    padding: 15px 0;
  }

  .input {
    margin: 0 15px 30px 15px;
    height: 36.91px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    width: 80%;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input input {
    height: 36.91px;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .input_50 {
    width: calc(48% - 20px);
  }
  .input_100 {
    width: calc(100% - 20px);
  }
  .input_60 {
    width: 60%;
  }
  .input_33 {
    width: 33%;
  }
  .input_zip {
    width: calc(28% - 20px);
  }
  .input_cc{
    width: calc(33% - 20px);
  }
  .input_no {
    width: calc(18% - 20px);
  }
  .input_street {
    width: calc(78% - 20px);
  }
  .overflow_hidden {
    overflow: hidden;
  }
  .fee_panel_open {
    height: 300px !important;
    opacity: 1 !important;
    position: absolute;
    bottom: 0;
    right:0;
    width: 100%;
  }
  .fee_panel_closed {
    height: 0px !important;
    opacity: 0 !important;
  }
  .hub_fee_panel_open {
    height: 300px !important;
    opacity: 1 !important;
    position: absolute;
    bottom: 0;
    right:0;
    width: 100%;
  }
  .hub_fee_panel_closed {
    height: 0px !important;
    opacity: 0 !important;
  }
  .add_fee_panel {
    transition: all 1.2s ease-in-out;
    border-radius: 10px 10px 0 0;
    background: whitesmoke;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
   .add_hub_fee_panel {
    transition: all 1.2s ease-in-out;
    border-radius: 10px 10px 0 0;
    background: whitesmoke;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .editor_scroll {
    height: 100%;
    overflow-y: scroll;
  }
  .panel_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .btn_wrapper {
    position: relative !important;
    display: inline-block !important;
    width: 167px !important;
    text-align: center !important;
    align-content: center !important;
  }
  .new_margin {
  margin-bottom: 0px !important;
  padding-bottom: 0px

  }
  .tooltip{
    max-width: 150px !important;
    text-align: left !important;
  }
  .price_cell_row {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(black, 0.3);
  }
  .add_price_cell{
    padding: 5px;
    width: 32%;
    box-shadow: 1px 1px 1px rgba(black, 0.3);
  }
  .add_price_button{
    border-radius: 15px;
    width: 95%;
     &:focus {
      outline: none;
    }
    &:hover {
      margin: -1px 1px 1px -1px;
      box-shadow: 1px 1px 1px rgba(black, 0.3);
    }
    &:active {
      margin: 0;
      box-shadow: none;
    }
  }
  .trucking_display_cell{
    border-radius: 4px;
    margin: 5px;
    width: 95%;
    &:focus {
      outline: none;
    }
    &:active {
      margin: 0;
      box-shadow: none;
    }
    p {
      margin: 4px 10px;
      text-align: center;
    }
  }
  .truck_type_border {
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
  }
  .trucking_inner_row {
    border-radius: 4px;
    margin: 5px;
    box-shadow: 2px 2px 5px 2px rgba(black, 0.3);
  }
  .trucking_fee_header {
    color: white;
    box-shadow: 1px 1px 1px rgba(black, 0.3);
  }
  .trucking_fee_breakdown{
    border-radius: 0 0 5px 5px;
  }
  .contact_text{
    margin: 3px;
  }
  .showPanel {
    height: 100px;
    overflow: visible !important;
  }
  .hidePanel {
    height: 0px;
  }
  .panelDefault {
    transition: all 1.5s linear;
    overflow: hidden;
    position: relative;
  }
  .time_edit_button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
  }
  .time_save_buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
  }
  .total_row {
    padding: 15px;
  }
  .toggle_on {
    opacity: 1;
    color: black;
  }
  .toggle_off {
    opacity: 0.75;
    color: lightgray;
  }
  .action_btn {
    padding: 15px 0;
  }
  .icon_btn_delete {
    height: 30px;
    width: 30px;
    i {
      color: darkred;
      font-size: 18px;
    }
  }
  .icon_btn_view {
    height: 30px;
    width: 30px;
    i {
      color: darkgreen;
      font-size: 18px;
    }
  }
  .trucking_search_results {
    height: 500px;
    overflow-y: scroll;
  }
  .no_doc, .uploaded_doc {
    h4 {
      margin: 0;
    }
    h4, i {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
  .no_doc i {
    color: red;
  }
  .uploaded_doc {
    i {
      color: rgb(158, 158, 158);
      transition: all .3s ease;
      &:hover {
        color: #4F4F4F;
      }
    }
    p {
      margin-left: 10px;
    }
  }
  .hub_edit_box {
    input {
      margin: 5px;
    }
  }
  .padding_left {
    padding-left: 25px;
  }
  .upload_image {
    width: 200px;
    height: 200px;
    color: darkslategray;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba(47, 79, 79, 0.5);
    box-shadow: 1px 0 0 1px rgba(47, 79, 79, 0.5);
    i {
      font-size: 32px;
      color: darkslategray;
    }
  }
  .upload_title {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
  }
  .upload_btn_wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  .upload_btn_wrapper input[type=file] {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .upload_btn_wrapper form {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .tooltip {
    max-width: 150px !important;
    text-align: left !important;
  }
  .error {
    height: 40px !important;
  }
  .file_error {
    overflow: hidden;
    height: 0px;
    font-size: 10px;
    transition: all 2s linear;
  }
  .range_header {
    padding: 4px 15px 22px 15px;
    height: 50px;
    border-bottom: 4px solid #E0E0E0;
    img {
      width: 32px;
    }
    p {
      color: #4F4F4F;
      font-weight: bolder;
      margin-left: 25px;
      font-size: 18px;
    }
  }
  .range_cell {
    padding: 4px 15px;
    p {
      font-size: 12px;
    }
  }
  .cell_editor_wrapper {
    padding: 4px;
    margin: 5px 0;
    box-shadow: 1px 0 0 1px rgba(0,0,0,0.25);
  }
  .action_box {
    box-shadow: 1px 3px 2px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 100px;
    border-radius: 5px;
  }
  .action_header {
    background: #E0E0E0;
    border-bottom: 1px solid #4F4F4F;
    p, i{
      font-size: 20px;
      color: #4F4F4F;
      margin: 5px;
    }
  }
  .action_section {
    margin: 10px 0;
    p,
    i {
      font-size: 14px;
      margin: 5px;
      text-align: center;
    }
  }
  .dpb {
    position: relative;
    height: 36px;
    width: 250px;
  }

  .dpb_icon {
    height: 38px;
    width: 38px;
    border: 1px solid #F2F2F2;
    border-radius: 3px 0 0 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    i {
      font-size: 20px;
    }
  }

  .dpb div input {
    height: 36px;
    width: 214px;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    padding: 0 9px;
    z-index: 20;
  }

  .dpb.with_errors div input {
    background-color: rgba(232, 114, 88, 0.3);
    &::placeholder {
      color: rgb(211, 104, 80);
    }
  }
  .side_title {
    h2, i {
      margin: 0 5px;
      font-size: 18px;
    }
  }
   .open_filter {
     height: max-content;
   }

   .closed_filter {
     height: 0px;
     overflow: hidden;
   }
   .title_grey {
     background: #E0E0E0;
     color: #4F4F4F;
     height: 38px;
     &:first-child {
      padding-left: 15px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: bold;
     }
   }
   .title_shipment_grey {
    background: #E0E0E0;
    color: #4F4F4F;
    height: 38px;
    p:first-child {
      padding-left: 15px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      span {
        font-weight: bold;
      }
    }
    p:last-child {
      padding-right: 15px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
      text-align: left;
    }
  }
   .title_grey_with_button {
    background: #E0E0E0;
    color: #4F4F4F;
    &:first-child {
     padding-left: 15px;
     margin-top: 0;
     margin-bottom: 0;
     font-size: 18px;
     font-weight: bold;
    }
  }
   .expander_icon i {
     font-size: 12px !important;
   }
   .border_box {
     border: 5px solid #E0E0E0;
   }
   .margin_box_right {
     > * {
       &:last-child {
        margin-right: 0 !important;
      }
     }
   }
   .button_row {
     min-height: 90px;
     button {
       border-radius: 3px;
       text-transform: uppercase;
       font-weight: bold;
       font-size: 21px;
       letter-spacing: 0.02em;
       padding: 10px 14px;
       &:first-child {
         color: white;
         margin-right: 20px;
       }
       &:last-child {
         color: #EB5757;
         background-color: white;
         border: 3px solid #EB5757;
       }
     }
   }
   .action_icons i {
     cursor: pointer;
   }
   .action_icons {
     width: 75px;
     margin-left: 5px;
   }

   .services_box .border_right {
    border-color: transparent !important;
   }

  .separator {
    height: 40px;
    width: 100%;
  }
  .set_height {
    min-height: 400px;
  }
  @media only screen and (max-width: 960px) {
    .border_box {
      margin-right: 0 !important;
      margin-bottom: 25px;
      &.no_margin_bottom {
        margin-bottom: 0 !important;
      }
    }
  }
  .header_margin_buffer{
    margin: 0 15px;
  }
  .shipment_view_margin_buffer {
    margin-left: 15px;
  }
  .content_details {
    padding-left: 25px;
  }
  .location_address {
    padding: 15px;
    padding-top: 0;
    i {
      font-size: 34px;
    }
    p {
      padding-left: 25px;
      margin: 0 0 12px 0;
    }
    input {
      margin-bottom: 16px;
    }
  }
  .username_title {
    padding-left: 2vw;
    h1 {
      font-size: 35px;
      margin: 0 !important;
    }
    p {
      font-size: 28px;
      margin: 0;
    }
  }
  .bigProfile {
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icons_location {
    > * {
      padding-left: 10px;
    }
    &:first-child {
      color: #6FCF97;
    }
    .trashy {
      color: #EB5757;
    }
  .margin_top_align {
    margin-top: -60px;
  }
}

  .back_button {
    color: #BDBDBD;
    &:hover {
      color: #4F4F4F;
    }
  }
  .side_box_style {
    position: absolute;
    top: 0px;
    width: 90%;
    right: 0px;
    background-color: white;
  }
}
