:local {
  .listComponent {
    height: 400px;
  }
  .client_box {
    padding: 10px;
  }
  .list {
    overflow-y: auto;
    h4 {
      margin: 8px auto;
    }
    i {
      height: 100%;
    }
    p {
      margin: 0;
      font-size: 12px;
      letter-spacing: 0.02em;
    }
  }
  .scrolling {
    overflow-y: scroll;
    height: 320px;
  }
  .listelement {
    margin-bottom: 20px;
  }
  .greyBg {
    background-color: lightgrey;
    margin-bottom: 20px;
  }
  .icon {
    font-size: 25px;
  }
  .profileIcon {
    color: #106084;
  }
  .grey {
    color: grey;
  }
  .smallText {
    font-size: 12px;
  }
}
