:local {
  html, body {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .section {
    padding: 20px 0px 0px;
    height: 400px;
    min-height: 300px;
  }
  .sectionpart {
    height: 400px;
    min-height: 300px;
  }
}
