:local {
  .nav_item i {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin: 0;
  }
  .nav_item {
    height: 50px;
    background: #FFFFFF;
    // box-shadow: 1px 1px 1px 0px rgba(10,12,13, 0.25);
    margin-top: 2px;
  }
  .nav_tooltip {
    background: rgba(0,0,0,0.2) !important;
    max-width: 150px !important;
    margin: 5% !important;
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.7px !important;
    }
}