:local {
  .title {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
  }
  .shipmentinfo {
    margin: 0px 30px;
    padding: 15px 0px;
    border-bottom: 1px solid grey;
  }
  .shipments {
    overflow-y: auto;
  }
}
