:local {
  .route_result {
    background-color: #FCFCFC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
    margin: 10px 0;
    padding: 25px 36px;
    position: relative;
    h4, p {
      margin: 0;
    }
    h4 {
      font-weight: normal;
    }
  }
    .deny {
    border: 2px solid #DA2C29;
    border-radius: 5px;
    height: 30px;
  }
  .deny p {
    font-size: 12px;
    color: #DA2C29;
  }
  .deny i {
    font-size: 12px;
    color: #DA2C29;
  }

  .grant {
    border: 2px solid #12B415;
    border-radius: 5px;
    height: 30px;
  }
  .grant p {
    font-size: 12px;
    color: #12B415;
  }
  .grant i {
    font-size: 12px;
    color: #12B415;
  }

  .top_row {
    margin-bottom: 20px;
  }
  .header_hub {
    position: relative;
    .map_marker {
      position: absolute;
      left: -18px;
      top: -1px;
    }
    .flag {
      position: absolute;
      left: -23px;
      top: -1px;
    }
  }
  .connection_graphics {
    margin: -41px 27px 0 10px;
    width: 110px;
  }
  .user_info {
    i {
       -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      margin-right: 5px;
    }
    p {
      margin-right: 10px;
      font-size: 18px;
    }
  }

  h4.date_title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-shadow: 1px 1px rgba(black, .14);
    opacity: .7;
    margin-bottom: 8px;
    font-size: 14px;
  }
  p.sched_elem {
    margin-right: 10px;
    font-size: 14px;
  }
  .total_price {
    font-size: 30px;
    sup {
      font-size: 16px;
    }
    span.total_price_currency {
      font-size: 22px;
    }
  }
}