:local {
  .sec_title {
    height: 75px;
  }
  .sec_header {
    height: 60px;
  }
  .select {
    width: 195px;
  }
  .sec_title_text {
    margin: 0;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 30px;

  }
  .icon {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 9px;
  }
.address {
    height: 92px;
    width: 118px;
    color: #212121;
    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 23px;
  }
.btn_sec{
    padding: 100px 0 70px 0;
  }

.cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .sec_title_text_normal {
    margin: 0;
    font-size: 30px;

  }
  .sec_header_text {
    margin: 0;
    font-size: 22px;
  }
  .sec_subheader {
    height: 50px;
  }
  .sec_subheader_text {
    margin: 0;
    font-size: 18px;
  }
  .sec_upload {
    height: 150px;
  }
  .charge_card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .charge_header {
    position: relative;
  }
  .btn_sec{
    height: 227px;
    padding-top: 48px;
    // border-top: 1px solid #EDEDED;
  }
  .input_box {
    height: 38px;
    width: 170px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_box input {
    height: 38px;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .dpb_picker {
    height: 36px;
    width: 214px;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 9px;
  }
  .fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.25);
    z-index: 3;
  }
  .content {
    width: 100%;
    height: 100%;
    // position: absolute;
    // background: rgba(0,0,0,0.25);
    z-index: 4;
  }
  .content i, .content h3, .content p {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .charge_opt {
    color: black;
    margin: 5px;
  }
  .charge_opt p {
    margin: 0;
  }
  .charge_panel {
    background: whitesmoke;
    height: max-content;
  }
  .shed_selector {

  }
  .sched_selector i, .sched_selector p {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  
  }
  .hub_card {
    // width: 300px;
    height: 200px;
    margin: 5px;
    // background: rgba(10,1,12,0.75);
    color: #FFFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bg {
    position: absolute;
    z-index:1;
    height: 100%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
  }
  .route_hub_top {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 50%;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bottom {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 50%;
    right:0;
    left:0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon_box {
    height: 100%;
    padding: 10px;
  }
  .price_card {
    margin: 5px;
    width: calc(50% - 10px);
  }
  .price_card .title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .price_card p {
    margin: 0;
  }
}