:local {
  .title {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
  }
  .subtitle {
    width: 100%;
    color: grey;
    font-weight: bold;
    font-size: 12px;
  }
  .amount {
    font-size: 50px;
    font-weight: bold;
  }
  .amounttitle {
    color: grey;
    font-weight: bold;
  }
}
