:local {
  .greyBg {
    background-color: lightgrey;
    margin-bottom: 20px;
  }
  .hub {
    margin-bottom: 20px;
    padding: 10px;
  }
  .container { 
    height: 400px;
    overflow-y: scroll;
  }
}
