:local {
  .searchable {
    margin: 15px 0;
  }
 
  .searchable_header{
    padding: 15px 0;
  }
  .sec_title {
    height: 75px;
  }
  .sec_header {
    height: 60px;
  }
  .select {
    width: 195px;
  }
  .address_card {
    height: 350px;
    width: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
  }
  .address_card p {
    margin: 5px;
  }
  .sec_title_text {
    margin: 0;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 30px;

  }
  .super{
    font-size: 8px;
  }
  .clip {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .icon {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 9px;
  }
  .address {
    height: 92px;
    width: 118px;
    color: #212121;
    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 23px;
  }
  .btn_sec{
    padding: 100px 0 70px 0;
  }

  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .sec_title_text_normal {
    margin: 0;
    font-size: 30px;
  }
  .sec_header_text {
    margin: 0;
    font-size: 22px;
  }
  .new_contact {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .new_contact_backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: rgba(2,3,1,0.25);
  }
  .new_contact_content {
    width: 650px;
    height: 400px;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .sec_subheader {
    height: 50px;
  }
  .sec_subheader_text {
    margin: 0;
    font-size: 18px;
  }
  .sec_upload {
    height: 150px;
  }
  .charge_card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .charge_header {
    position: relative;
  }
  .btn_sec{
    height: 227px;
    padding-top: 48px;
    // border-top: 1px solid #EDEDED;
  }
  .input_box {
    height: 38px;
    width: 170px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_box input {
    height: 38px;
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  .dpb_picker {
    height: 36px;
    width: 214px;
    border: 1px solid #F2F2F2;
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 9px;
  }
  .fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.25);
    z-index: 3;
  }
  .content {
    width: 100%;
    height: 100%;
    // position: absolute;
    // background: rgba(0,0,0,0.25);
    z-index: 4;
  }
  .content i, .content h3, .content p {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .charge_opt {
    color: black;
    margin: 5px;
  }
  .charge_opt p {
    margin: 0;
  }
  .charge_panel {
    // background: whitesmoke;
    height: max-content;
  }
  .shed_selector {

  }
  .sched_selector i, .sched_selector p {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  
  }
  .hub_card {
    width: 240px;
    height: 200px;
    margin: 5px;
    // background: rgba(10,1,12,0.75);
    color: #FFFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bg {
    position: absolute;
    z-index:1;
    height: 100%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
  }
  .route_hub_top {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 0;
    right:0;
    left:0;
    bottom: 50%;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .route_hub_bottom {
    position: absolute;
    z-index:1;
    height: 50%;
    width: 100%;
    top: 50%;
    right:0;
    left:0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content_top, .content_bottom {
    width: 100%;
  }
  .icon_box {
    height: 100%;
    padding: 10px;
  }
  .price_card {
    margin: 5px;
    width: calc(50% - 10px);
  }
  .price_card .title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .price_card p {
    margin: 0;
  }
  .slider_container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;

  }
  .slider_inner {
    margin-right: 15px;
    position: absolute;
    width: max-content;
    min-width: 100%;
  }
  .route_price {

  }
  .route_price h3 {
    margin: 0;
  }
  .hub_route_price {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
    margin: 10px 0;
  }
  .price_row {
    p {
      margin: 0;
    }
  }
  .price_subheader {
    padding: 5px;
    p{
      margin: 2px;
      font-size: 14px;
    }
  }
  .price_cell {
    padding: 5px;
    p{
      margin: 2px;
      font-size: 12px;
    }
  }
  .price_row_detail {
    margin: 4px 0;
    padding: 5px;
    p {
      margin: 0;
    }
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  .price_row_detail {
    margin: 5px 0;
    padding: 10px;
    p {
      margin: 0;
    }
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .editor_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    // background: rgba(0,0,0,0.25);
  }
  .editor_fade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,0.25);
  }
  .editor_box {
    width: 800px;
    height: 95%;
    z-index: 52;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.45);
    overflow-y: scroll;
  }
  .editor_input input{
    height: 34px !important;
    width: 95%;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);

  }
  .expand_panel {
    transition: all 2s bounce;
  }
  .show_style {
    height: max-content !important;
    opacity: 1 !important;
  }
  .hide_style {
    height: 0;
    opacity: 0;
  }
  .trucking_city_header {
    padding: 4px;
    p {margin: 0;}
  }
  .trucking_city_header_label {
    font-size: 14px;
    margin: 0;
  }
  .trucking_cell {
    padding: 4px;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  .trucking_cell_label {
    font-size: 10px;
  }
  .trucking_zip {
    margin-bottom: 15px;
  }
  .trucking_header_card {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(0,0,0, 0.15);
    box-shadow: 1px 1px 1px rgba(0,12,12,0.25);
  }
  .trucking_zip_row {
    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(0,0,0, 0.15);
    box-shadow: 1px 1px 1px rgba(0,12,12,0.25);

  }
  .trucking_panel {
    transition: all 2s bounce;
  }
  .trucking_expanded {
    height: max-content !important;
    opacity: 1 !important;
  }
  .trucking_closed {
    height: 0;
    opacity: 0;
    z-index: -1;
  }
}