:local {
  .hub_card {
    width: calc(30% - 10px);
    min-width: 200px;
    height: 200px;
    margin: 5px;
    color: #FFFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.hub_card .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 10;
    background: rgba(0,10,4,0.26);
  }
  .hub_card .content {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 12;
    // background: rgba(0,10,4,0.16);
  }
  .hub_card i {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-top: 23px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
  }
}