:local {
  html, body {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .header {
    height: 100%;
    margin: 20px 0px;
  }
  .headerElement {
    padding: 20px 30px;
    padding-left: 0;
  }
  .welcome {
    font-size: 25px;
  }
  .sectionpart {
    height: 400px;
    min-height: 300px;
  }
  .space {
    margin-bottom: 20px;
    span {
      cursor: pointer;
    }
  }
  .separator {
    height: 1px;
    border: 1px solid lightgrey;
  }
  .bigProfile {
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
