:local {
  .eye_link {
    padding-right: 8px;
  }
  .status_box_requested {
    max-height: 32px !important;
    margin-top: 3px;
    p {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.06em;
      margin: 0;
      text-transform: uppercase;
      z-index: 10000000;
    }
  }
  .reuse_shipment_box {
    border-color: transparent;
    text-align: center;
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.06em;
      margin: 0;
      color: white;
      text-transform: uppercase;
      height: 28px;
      width: 110px;
    }
  }
  .carriage_row {
    h4 {
      margin-bottom: 5px;
    }
    p {
      font-size: 13px !important;
    }
  }
  .status_box {
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.06em;
      margin: 0;
      text-transform: uppercase;
      background-color: white;
      height: 28px;
      width: 110px;
    }
  }
  .status_box_process {
    border-color: transparent;
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.06em;
      margin: 0;
      color: white;
      text-transform: uppercase;
      height: 28px;
      width: 110px;
    }
  }
  .hub_box_shipment {
    height: 241px;
    p {
      margin: 0;
    }
    .image {
      background-position: center center;
      background-size: cover;
      height: 241px;
    }
    h3 {
      font-size: 26px;
    }
    .address {
      line-height: 22px;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: #4F4F4F;
      min-height: 90px;
    }
    .date {
      padding-top: 6px;
    }
    input {
      width: 100%;
    }
  }
  .save {
    margin: 0px 10px 1px;
    font-size: 15px;
    color: #219653;
    cursor: pointer;
  }
  .cancel {
    margin: 0px 10px;
    font-size: 15px;
    color: red;
    cursor: pointer;
  }
  .editIcon {
    color: #F2C94C;
    cursor: pointer;
  }
  .light_green {
    color: #6FCF97;
  }
  .light_orange {
    color: #F48A00;
  }
  .light_red {
    color: #EB5757;
  }
  .contact_box {
    padding-left: 2vw;
    padding-top: 20px;
    .info_row {
      margin-bottom: 10px;
      &.last_margin {
        margin-bottom: 20px;
        padding-top: 10px;
        border-top: 2px solid #E0E0E0;
        margin-right: 25px;
      }
    }
    i {
      font-size: 14px !important;
      margin: 0 10px 0 0;
    }
    h4, p {
      margin: 0;
    }
    p {
      font-size: 12px;
      letter-spacing: 0.03em;
      color: #4F4F4F;
      hyphens: auto;
    }
  }
  .notifyee_box {
    overflow: auto;
    > :first-child {
      border-bottom: 2px solid #E0E0E0;
      margin-right: 20px;
    }
    h4 {
        font-size: 14px;
      }
  }
  .padding_bottom_contact {
    min-height: 45px;
  }
  .info_hub_box {
    padding-left: 30px;
    p {
      line-height: 16px;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: #4F4F4F;
    }
    span {
      font-weight: bold;
      line-height: 16px;
      font-size: 12px;
      letter-spacing: 0.02em;
      color: #4F4F4F;
    }
  }
  .no_border_top {
    border-top: transparent !important;
    p {
      font-weight: bold;
      line-height: 24px;
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.02em;
    }
    span {
      font-weight: bold;
      line-height: 33px;
    }
  }
  .min-height {
    min-height: 180px;
  }
  .column_info {
    min-height: 100px;
    padding-right: 20px;
    border-bottom: 2px solid #E0E0E0;
    > * {
      &:last-child {
        border-bottom: 0;
      }
    }
    p {
      margin: 0;
    }
    span {
      font-size: 15px;
      line-height: unset;
      margin-right: 14px;
    }
  }
  .font_adjustaments {
    p {
      font-size: 12px;
      letter-spacing: 0.02em;
      margin: 0;
      margin-top: 20px;
      color: #4F4F4F;
    }
    h5 {
      margin: 0;
      margin-top: 8px;
      font-size: 22px;
    }
    div:first-child {
      width: 70px;
      height: 70px;
      i {
        font-size: 34px;
        color: white;
      }
    }
  }
  .ref_row {
    p:first-child {
      font-size: 20px;
      letter-spacing: 0.02em;
      color: #4F4F4F;
    }
    p:last-child {
      font-size: 15px;
    }
    hr {
      border-color: #E0E0E0;
      opacity: 0.6;
    }
    span {
      font-weight: bold;
    }
  }
  .services_box {
    padding-left: 20px;
    padding-right: 20px;
    hyphens: auto;
    white-space: pre-wrap;
    p {
      margin:0;
    }
    i {
      font-size: 25px;
      margin-right: 14px;
    }
    h3 {
      margin-bottom: 40px;
    }
    .spaceright {
      padding-right: 20px;
    }
    .greyborder {
      margin-top: 5px;
      border: 3px solid lightgrey;
    }
    .greybg {
      background-color: lightgrey;
    }
  }
  .quantity_square {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }
  .info_delivery {
    i {
      font-size: 25px;
      margin-right: 14px;
      color: #E0E0E0;
    }
    h4 {
      margin: 0;
    }
  }
  .border_right {
    border-right: 2px solid #E0E0E0;
  }
  .additional-services {
    min-height: 100% !important;
  }
  .border_bottom {
    border-bottom: 2px solid #E0E0E0;
  }
  .check_square {
    font-size: 32px !important;
  }

  .check_square_sm {
    font-size: 15px !important;
    padding-top: 24px;
  }
  .carriage_address p {
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    margin-top: 8px;
  }
  .margin_fixes p {
    margin-left: 15px;
  }
  .info_values {
    margin: 0;
  }

  @media only screen and (max-width: 1024px) {
    .status_box_requested div {
        width: 11vw;
    }
  }
  @media only screen and (max-width: 960px) {
    .info_row {
      padding-right: 20px;
      &.last-margin {
        border: 0 !important;
      }
    }
    .status_box_requested div {
        width: 14vw;
    }
    .no_border_top {
      border-top: 5px solid #E0E0E0 !important;
    }
    .additional_services {
      border-right: 0;
      border-bottom: 2px solid #E0E0E0;
    }
  }
  .account_holder {
    background: #828282;
    p {
      font-family: Helvetica Neue;
      line-height: normal;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.02em;
      margin: 5px;
      color: #FFFFFF;
    }
  }
}
