:local {
  .client_card {
    height: 200px;
    // margin: 5px 5px 5px 5px;
    color: black;
    position: relative;
    border-top: 0.5px solid rgba(0,0,0,0.05);
    border-left: 0.5px solid rgba(0,0,0,0.05);
    &:hover {
      .delete_x {
        display: block !important;
      }
    }
  }
  .client_card .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 10;
    // background: rgba(0,10,4,0.26);
  }
  .client_card .content {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    // position: absolute;
    z-index: 12;
    // background: rgba(0,10,4,0.16);
  }
  .client_card .content p {
    margin: 2px;
  }
  // .client_card i {
  //   height: 30px;
  //   width: 30px;
  //   font-size: 30px;
  //   margin-top: 23px;
  //   -webkit-background-clip: text !important;
  //   -webkit-text-fill-color: transparent !important;
  //   font-size: 24px !important;
  // }
  .client_subheader {
    padding: 5px;

    p {
      font-size: 14px;
      margin: 2px;
    }
    i {
      font-size: 14px !important;
      height: 16px !important;
      width: 16px !important;
      margin: 2px;
    }
  }
  .client_text {
    padding: 5px;
    font-size: 12px;
    p, h4 {
      margin: 2px;
      flex-flow: row wrap;
    }
  }
  .delete_x {
    display: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    i {
      color: #BDBDBD;
      font-size: 16px;
    }
  }
  .margin {
    margin: 5%;
  }
  .tooltip {
    max-width: 150px !important;
  }
}
