:local {
  .list {
    overflow-y: scroll;
    height: 425p
  }
  .listelement {
    border-bottom: 2px solid lightgrey;
    font-weight: bold;
    color: #333333;
  }
  .greyBg {
    background-color: lightgrey;
    margin-bottom: 20px;
  }
  .routeIcon {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
  }
  .icon {
    font-size: 25px;
  }
  .bottomSpace {
    margin-bottom: 20px;
  }
  .stop_count {
    font-size: 12px;
    margin: 0;
  }
  .container{
    height: 450px;
  }
}
