:local {
  .shop_stage {
    border-radius: 50% !important;
    height: 75px !important;
    width: 75px !important;
    border: 2px solid darkslategrey;
    position: relative;
  }

  .stage_box {
    padding-top: 33px;
    min-width: 171px;
  }

  .shop_stage_past {
    @extend .shop_stage;
    background-color: #4A4A4A;
    height: 100%;
    width: 100%;
  }
  .shop_stage_past i {
    font-size: 30px;
  }

  .shop_stage_yet {
    @extend .shop_stage;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    border-color: darkslategrey;
    color: darkslategrey;
  }
  .shop_stage_yet h3, .shop_stage_current h3 {
    font-size: 30px;
  }

  .shop_stage_current {
    @extend .shop_stage;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
  }
  .stage_text  {
    height: 22px;
    color: #212121;

    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 18px;
  }
  .banner_content {
    z-index:3;
  }
  .fade {
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 2;
    background: rgba(0,10,4,0.60);
  }
  .shop_banner {
    height: 124px;
    // background-image: url('https://assets.itsmycargo.com/assets/images/welcome/header.jpg');
    background-image: url('https://assets.itsmycargo.com/assets/cityimages/ssview_container_yard.jpg');
    background-size: cover;
    background-position: 0% 15%;
    background-repeat: no-repeat;
    position: relative;
    text-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.4);
  }
  .shop_banner h3 {

    height: 41px;
    color: #FFFFFF;
    // font-family: ".SF NS Display";
    font-size: 30px;
    line-height: 35px;

  }
  .shop_banner p {
    height: 34px;
    width: 198px;
    color: #FFFFFF;
    // font-family: ".SF NS Display";
    font-size: 25px;
    line-height: 29px;
  }
  .shop_banner i {
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0px 18px;
  }

  .fade {
    color: lightgrey;
  }

  .header {
    color: floralwhite;
  }
  .stage_row {
    height: 130px;
    box-shadow: 0 2px 4px 0 rgba(black, 0.1);
  }
  .line_box {
    position: relative;
    transform: scale(0.8);
    padding-bottom: 10px;
  }
  .line {
    position: absolute;
    height:1px;
    width: 739px;
    border-top: 3px solid #4A4A4A;
    margin-top: 70.5px;
  }
}