:local {
  // Banner

  .banner_content {
    z-index: 3;
  }
  .fade {
    color: lightgrey;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
    z-index: 2;
    background: rgba(0,10,4,0.60);
  }
  .shop_banner {
    height: 124px;
    background-size: cover;
    background-position: 0% 15%;
    background-repeat: no-repeat;
    position: relative;
    text-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.4);
    @media screen and (max-width: 1620px) {
      height: 100px;
      background-image: url('https://assets.itsmycargo.com/assets/cityimages/ssview_container_yard.jpg');
      background-size: cover;
      background-position: 0% 15%;
      background-repeat: no-repeat;
      position: relative;
      text-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.4);
    }
  }
  .shop_banner h3 {
    height: 41px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 35px;
  }
  .shop_banner p {
    height: 34px;
    width: 198px;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 29px;
  }
  .shop_banner i {
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0px 18px;
  }
  .back_button {
    width: 150px;
    i, p {
      margin: 0 10px;
    }
  }


  // Stage Row

  .stage_row {
    height: 72px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
    border-top: 1px solid rgba(black, 0.2); 
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 499;
  }
  .line_box {
    position: relative;
    height: 100%;
  }
  .line {
    position: absolute;
    height: 1px;
    width: 550px;
    border-top: 2px solid #4A4A4A;
    top: 24px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-left: 72px;
    }
  }
  .quote_line {
    position: absolute;
    height: 1px;
    width: 287px;
    border-top: 2px solid #4A4A4A;
    top: 24px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-left: 72px;
    }
  }
  .shop_stage {
    border-radius: 50% !important;
    height: 27px !important;
    width: 27px !important;
    border: 2px solid darkslategrey;
    position: relative;
    i {
      background-clip: text !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;      
    }
    h3 {
      font-weight: normal;
    }
  }
  .stage_box {
    min-width: 130px;
    padding: 11px 0;
  }
  .shop_stage_past {
    @extend .shop_stage;
    background-color: #4A4A4A;
    height: 100%;
    width: 100%;
  }
  .shop_stage_past i {
    font-size: 13px;
  }
  .shop_stage_yet {
    @extend .shop_stage;
    background: white;
    height: 100%;
    width: 100%;
    border-color: darkslategrey;
    color: darkslategrey;
  }
  .shop_stage_yet h3, .shop_stage_current h3 {
    font-size: 13px;
    margin: 0;
  }
  .wrapper_shop_stage_current {
    position: relative;    
    height: 27px !important;
    width: 27px !important;
  }
  .shop_stage_current {
    position: absolute;
    z-index: 1;
    top: 2px; 
    bottom: 2px;
    left: 2px; 
    right: 2px;
    border-radius: 50% !important;
    background: white;
    h3 {
      margin: 0;
      background-clip: text !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;      
    }
  }
  .shop_stage_current_border {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    content: '';
    z-index: 0;
    width: auto;
    border-radius: 50%;
    color: transparent;
  }
  .stage_text  {
    color: #4F4F4F;
    font-size: 15px;
    margin: 3px 0 0 0;
  }
  .help_btn {
    position: absolute;
    right: 50px;
    top: 30px;
    p {
      margin: 0;
      font-size: 12px;
    }
    i {
      margin-left: 5px;
    }
  }
}