:local {
  .table_cell {
    font-size: 12px;
  }
  .group_header {
    h2 {
      font-size: 1.2em;
      color: darkgray;
      padding: 10px;
      margin:0px;
    }
    h1 {
      font-size: 1.5em;
      padding: 6px;
      margin:0px;
    }
  }
  .stat_box {
    border-bottom: 1px solid black;
    padding: 10px;
    h4 {
      margin: 0;
    }
  }
  .hidden {
    visibility: hidden;
  }
  .margin_creator_wrapper{
    padding: 20px;
    margin-top: 25px;
    .header {
      h1 {
        font-size: 1.5em;
        color: darkgray;
      }
    }
    .option_row {
      margin-top: 10px;
      .option_row_wrapper {
        padding: 10px 5px;
        position: relative;
        .blocked_off {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          z-index: 20;
          background: darkgrey;
          opacity: 0.6;
        }
      }
    }
    .option_fade {
      opacity: 0.6;
    }
    .box_button {
      padding: 10px;
    }
  }
  .day_picker_overlay_wrapper {
    position: absolute !important;
    background: white;
    border: 1px solid grey;
  }
  .select_row {
    overflow: inherit !important;
  }
  .dpb {
    position: relative;
    height: 100%;
    .select {
      overflow: inherit;
    }
  }
  .grey_section_head { 
    background-color: #E0E0E0;
    h1,h2,h3,h4 {
      margin: 5px;
    }
    padding: 12px 18px;
    padding-left: 15px;
    margin-top: 25px;
  }
}