:local {
  @import '../../styles/defaults';

  .wrapper_profile_icon {
    position: relative;
    top: -2px;
    height: 20px;
    width: 20px;
    margin-right: $spacing-sm;
  }
  img.profile_icon {
    position: absolute;
    height: 20px;
    width: 20px;
    transition: all 0.5s ease;
    &.hidden {
      opacity: 0;
    }
  }

  .dropbtn {
    background-color: transparent;
    padding: 16px;
    text-decoration: underline;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdowncontent {
    display: none;
    position: absolute;
    top: 50px;
    left: 7px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 50;
  }

  .dropdowncontent a, .dropdowncontent div {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdowncontent a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdowncontent {
    display: block;
  }

  .dropdown:hover .dropbtn {
    text-decoration: underline;
  }

  @media screen and (max-width: 1024px) {
    .dropdowncontent {
      left: -64px;
    }
  }
}
