:local {
  .route_header p{
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 21px;
    line-height: 24px;
  }
  .doc_title {
    font-size: 10px;
    margin: 2px;
  }
  .back_to_dash_sec {
     padding: 50px 0 100px 0;
  }
}