:local {
  p {
    margin: 0;
  }
  .levels_row {
    margin-top: 20px;
  }
  .button {
    font-size: 12px;
    margin-top: 5px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  .urgent {
    @extend .button;
    background: #FF9883;
    width: 32px;
    i {
      color: white;
    }
    &:hover {
      background: #D73C1D;
    }
  }
  .important {
    @extend .button;
    background: #FFBF7B;
    width: 32px;
    i {
      color: white;
    }
    &:hover {
      background: #FF9626;
    }
  }
  .notification {
    @extend .button;
    background: #FFE79A;
    width: 32px;
    i {
      color: white;
    }
    &:hover {
      background: #FFCF32;
    }
  }
  .form {
    margin-top: 30px;
  }
  .alert {
    @extend .button;
    width: 32px;
    background: #B1E185;
    i {
      color: white;
    }
    &:hover {
      background: #6DC66B;
    }
  }
  .urgent_selected {
    @extend .button;
    border: 1px solid #FF9883;
    background: #FF9883;
    color: white;
    i {
      color: white;
    }
  }
  .important_selected {
    @extend .button;
    border: 1px solid #FFBF7B;
    background: #FFBF7B;
    color: white;
    i {
      color:  white;
    }
  }
  .notification_selected {
    @extend .button;
    border: 1px solid #FFE79A;
    background: #FFE79A;
    color: white;
    i {
      color:  white;
    }
  }
  .alert_selected {
    @extend .button;
    border: 1px solid #B1E185;
    background: #B1E185;
    color: white;
    i {
      color:  white;
    }
  }

  // input transition
  .title_label, .title_input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  .title_label {
    margin-top: -106px;
    z-index: -5;
  }
  .title_input:focus {
    outline: 0;
    border-bottom: 1px solid #BDBDBD;
  }
  .title_input:placeholder-shown + .title_label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2rem) scale(1.5);
  }
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  .title_input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  .title_input:not(:placeholder-shown) + .title_label,
  .title_input:focus + .title_label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
}