@import '../../styles/defaults';

:local {
  .icon {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 14px;
  }
  .address {
    height: 92px;
    width: 118px;
    color: #4F4F4F;
    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 23px;
  }
  .sec_break {
    border-color: rgba(black, 0.03);
  }
 .btn_sec{
    padding: 100px 0 70px 0;
  } 
  .back_to_dash_sec {
    padding: 50px 0 100px 0;
  }
  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .date_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .thank_you {
    height: 90px;
    width: 1001px;
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 32px;
    line-height: 45px;
  }
  .b_ref {
    height: 28px;
    width: 342px;
    color: #4F4F4F;
    // font-family: ".SF NS Display";
    font-size: 21px;
    line-height: 24px;
  }
  .b_summ {
    background-color: #FCFCFC;
    box-shadow: 0 2px 4px 0 rgba(black, 0.17);
    margin-top: 65px;
  }
  .b_summ_top, .b_summ_bottom {
    padding: 35px;
  }
  .b_summ_top {
    border-bottom: 1px solid rgba(black, 0.04);
  }
  .wrapper_cargo {
    margin-bottom: 30px;
  }
  .tot_price {
    color: white;
    padding: 0 15px;
    height: 49px;
    width: 296px;
    border-radius: 50px;
  }
  .thank_box {
    height: 380px;
    padding-top: 48px;
  }
}