:local {
	.booking_summary {
		height: 100px;
		h4 {
			font-weight: bold;
			margin: 0;
			color: rgb(200, 200, 200);
		}
		p {
			color: rgb(70, 70, 70);
			margin: 0;
		}
	}
	.route_sec {
    position: relative;
    i {
  		color: rgb(70, 70, 70);
    }
	}
	.header_hub {
	  position: relative;
	  .trucking_elem {
	  	font-size: 11px;
	  	// position: absolute;
	  	bottom: 5px;
	  }
	}
	.header_hub h4 {
		color: rgb(70, 70, 70);
		margin: 0 0 5px 0;
	  text-align: center;
		font-weight: normal;
		height: 19px;
	}
	.mot_wrapper {
		height: 13px;
	}
	.connection_graphics {
		width: 25%;
		position: absolute;
		display: flex;
		top: 20px;
		flex-wrap: nowrap;
		i {
			flex-grow: 1;
			text-align: center;
		}

		> div {
			flex-grow: 5;
			margin: 0 5px;
		}
	}

	@media screen and (max-width: 768px) {
		.dashed_container {
			width: 70%;
		}
	}
}
