:local {
	.booking_summary {
		height: 100px;
		h4 {
			font-weight: bold;
			margin: 0;
			color: rgb(200, 200, 200);
		}
		p {
			color: rgb(70, 70, 70);
			margin: 0;
		}
	}
	.route_sec {
    position: relative;
    i {
  		color: rgb(70, 70, 70);
    }
	}
	.header_hub {
	  position: relative;
	  .trucking_elem {
	  	font-size: 11px;
	  	// position: absolute;
	  	bottom: 5px;
	  }
	}
	.header_hub h4 {
		color: rgb(70, 70, 70);
		margin: 0 0 5px 0;
	  text-align: center;
		font-weight: normal;
		height: 19px;
	}
	.mot_wrapper {
		height: 13px;
	}
	.connection_graphics {
		$w: 250px;
	  position: absolute;
	  left: calc((50% - #{$w}/2));
	  top: 45px;
	  width: $w;
	  i {
	    margin: 0 4px;
	  }
	  i.map_marker {
	    position: absolute;
	    left: -26px;
	    top: 10px;
	  }
	  i.flag {
	    position: absolute;
	    right: -34px;
	    top: 10px;
	  }
	}
}