:local{
  .alert {
    z-index: 1000;
    padding: 15px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px rgba(black, 0.1);
    i {
      position: absolute;
      right: 70px;
      font-weight: normal;
      opacity: 0.7;
      transition: all 0.3s ease;
      padding: 2px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
  .alert_inner_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .danger {
    @extend .alert;
    background: rgba(#C50000, 0.85);
  }
  .warning {
    @extend .alert;
    background: rgba(255, 126, 45, 0.85);
  }
  .info {
    @extend .alert;
    background: rgba(15, 163, 255, 0.85);
  }
  .success {
    @extend .alert;
    background: rgba(4, 193, 4, 0.85);
  }
}