:local{
  .alert {
    width: 100px;
    padding: 15px;
    border-radius: 30px;
    position: absolute;
  }
  .danger {
    @extend .alert;
    border: 2px solid rgba(255, 81,81, 1);
    background: rgba(255, 81,81, 0.75);
  }
  .warning {
    @extend .alert;
    border: 2px solid rgba(255, 126, 45, 1);
    background: rgba(255, 126, 45, 0.75);
  }
  .info {
    @extend .alert;
    border: 2px solid rgba(15, 163, 255, 1);
    background: rgba(15, 163, 255, 0.75);
  }
  .success {
    @extend .alert;
    border: 2px solid rgba(4, 193, 4, 1);
    background: rgba(4, 193, 4, 0.75);
  }
}