:local {
  .side_nav {
    transition: all 1.5s ease-in-out;
  }
  .expanded {
    width: 300px !important;
    position: fixed !important;
  }
  .collapsed {
    width: 60px;
    position: relative;
  }
  .link_text {
    transition: all 1s ease-in-out;
  }
  .expanded_link {
    width: calc(100% - 60px);
    visibility: normal;
  }
  .collapsed_link {
    width: 0px;
    visibility: hidden;
  }
  .icon_box {
    text-align: center;
    min-width: max-content;
    height: min-content;
    font-size: 120%;
    margin-right: 10px;
    overflow: visible;
  }
  .anchor {
    width: 60px;
    height: 10px;
    max-height: 60px;
  }
  .dropdown_box {
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0;
  }
  .text {
    min-width: max-content;
    max-width: max-content;
  }
  .text:hover {
    cursor: pointer;
  }
  .tooltip {
    max-width: 200px;
  }
}