:local {
	.best_card {
	  border-radius: 5px;
	  height: 77px;
	  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
	  padding: 13px 20px 6px 20px;
	  background-color: #FCFCFC;
		flex: 0 1 32%;
		h4, p {
			margin: 0;
			font-weight: normal;
			font-size: 18px;
		}
	}
}