 :local {
    .buttons div a,
    .buttons div h4 {
      text-decoration: none;
      margin: 0;
      font-weight: normal;
      color: white;
      font-size: 16px;
    }
    .buttons p{
      color: white;
    }
    .copyright {
      height: 34px;
      color: white;
      border-top: 1px solid #979797;
      font-size: 14px;
    }
    .contact_bar {
      border-top: rgb(206, 203, 203) 1px solid;
      background-color: lightgrey;
      height: 65px;
      padding: 10px 0;
      i {
        margin-right: 15px;
      }
      img {
        height: 52px;
      }
    }
    .contact_elem {
      margin-left: 50px;
    }
    a.contact_elem:-webkit-any-link {
      color: black !important;
      text-decoration: none !important;
    }
    .powered_by_logo {
      width: 120px;
      height: auto;
    }
    .footer_wrapper {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
    }
    .footer_shop {
      background: #5E5E5E;
    }
    .copyright_shop {
      color: white;
    }
    .upper_footer {
      background: #5E5E5E;
      height: 60px;
    }
    .powered_by_padding {
      padding-right: 20px;
    }
  }
