:local {
  .footer {
    background: #5E5E5E;
    color: white;
    padding: 30px;
    > * {
      padding: 10px 0;

      @media (min-width: 600px) {
        padding: 15px 12px;
      }

      @media (min-width: 960px) {
        padding: 8px 18px;
      }

      @media (min-width: 1280px) {
        padding: 10px 40px;
      }
    }
    a {
      color: white;
    }
    h4 {
      margin: 10px 0;
    }
    .title {
      font-weight: bold;
      font-size: 15px;
      margin: 0;
      margin-bottom: 18px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 3px;
      }
    }
    .logo {
      width: 150px;
      margin-bottom: 8px;
    }
    .contacts {
      > * {
        margin-bottom: 3px;
      }
      i {
        color: rgb(177, 177, 177);
        margin-right: 15px;
        font-size: 12px;
        width: 14px;
      }
    }
  }
  .social_links {
    margin-top: 18px;
    i {
      font-size: 22px !important;
      color: white !important;
      &:hover {
        color: rgb(177, 177, 177) !important;
      }
    }
  }
  .banner_text {
    h4 {
      font-size: 12px;
      font-weight: normal;
    }
    .powered_by_logo {
      width: 100px;
      height: auto;
      padding-left: 14px;
    }
  }
}
