.card_link {
  height: 250px;
  margin-right: 5%;
}
.card_img {
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.card_action {
  width: 100%;
  background: whitesmoke;
}
.card_action p {
  color: black;
  margin: 0;
  background: transparent;
}