:local {
  .page_navigation {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
  }
  .navigation_button {
    background: white;
    color: #4F4F4F;
    width: 120px;
    i {
      height: 26px;
      width: 26px;
      font-size: 25px;
      transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
    opacity: 0.9;
    
    &:hover {
      opacity: 1;
      i {
        font-size: 27px;
      }
    }
    &.disabled {
      cursor: default;
      color: #E0E0E0;
      &:hover {
        i {
          font-size: 25px;
        }
        color: #E0E0E0;
      }
    }
  }
  .back {
    padding-left: 15px;
  }
  .forward {
    padding-right: 15px;
  }
}