:local {
  .page_navigation {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
  }
  .navigation_button {
    background: white;
    color: #BDBDBD;
    width: 120px;
    cursor: pointer;

    i {
      font-size: 25px;
    }
    &:hover {
      color: #4F4F4F;
    }

    &.disabled {
      cursor: default;
      color: #E0E0E0;
    }
  }
  .back {
    padding-left: 15px;
  }
  .forward {
    padding-right: 15px;
  }
}