:local {
  .container {
    height: 100%;
  }
  .email_settings {
    box-shadow: 0 2px 5px rgba(black, .2);
    margin: 10px;
    padding: 20px;
  }
  .input {
    margin: 0 15px 30px 15px;
    height: 36.91px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    width: 80%;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }

  .input_box input {
    height: 38px;
    border: 1px solid #c9c9c9;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
    min-width: 80%;
    max-width: 100%;
    &:focus {
      outline: 1px solid #E0E0E0;
    }
  }

  .remarks {
    height: 100px;
    width: 95%;
    margin: 0 15px 30px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    position: relative;
    word-break: break-word;
    overflow: scroll;
    resize: none;
  }
  .email_header {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .collapse_header {
    margin-bottom: 10px;
  }
  .add_unit_wrapper {
    position: relative;
    padding-bottom: 50px;
    margin: 25px 0px 0px 10px;
    &:hover + .new_container_placeholder {
      opacity: 0.2;
      visibility: visible;
    }
  }
  .new_container_placeholder {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .add_unit {
    position: absolute;
    left: 0;
    margin-top: -20px;
    letter-spacing: 0.25px;
    cursor: pointer;
    z-index: 100;
    i {
      opacity: 0.8;
      font-size: 30px;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
    p {
      margin-left: 15px;
      font-weight: bold;
      font-size: 17px;
    }
  }

  .remark_form {
    box-shadow: 0 2px 5px rgba(black, .2);
    margin: 10px;
    padding: 20px 20px 0px 20px;
  }

}