:local {
  .widecomp {
    width: 100%;
  }
  .greyboxborder {
    border: 5px solid lightgrey;
  }
  .tabdiv {
    .tab {
      display: inline-block;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      border-top: 5px solid lightgrey;
      border-left: 5px solid lightgrey;
      border-right: 5px solid lightgrey;
    }
  }
  .tabcontent {
    padding: 10px;
  }
  .selected {
    background-color: lightgrey;
  }
}
