:local {
  .contact_wrapper {  
    transform: scale(0.85);
    transform-origin: left;
    width: 100%;
  }
  .contact_header, .contact_header p {
    color: #212121;
    font-size: 16px;
    line-height: 18px;
    
  }
  .contact_header i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .placeholder_card {
    height: 113px !important;
    margin: 5px;
    background-color: rgb(200, 200, 200);
    color: white;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.17);
    padding: 15px 15px 0px 15px;
    opacity: 0.8;
    border-radius: 2px;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    h1 {
      text-align: center;
    }
  }
}