<%= render "account_layout" do %>

  <row>
    <columns>      
			<p>Someone has requested a link to change your password. You can do this through the button below:</p>
    </columns>
  </row>

  <row>
    <columns>
    	<button href="<%= edit_user_password_url(@resource, reset_password_token: @token, redirect_url: @redirect_url) %>" class="success radius">Change my password</button>
    </columns>
  </row>


  <row>
    <columns>      
			<p>If you didn't request this, please ignore this email.</p>
    </columns>
  </row>
  <row>
    <columns>      
			<p>Your password won't change until you access the button above and create a new one.</p>
    </columns>
  </row>

<% end %>