:local {
  .wrapper_contact_setter {
    padding-top: 30px;
    margin-top: 20px;
  }
  .sec_break {
    border-color: rgba(black, 0.03);
  }
  .btn_sec{
    padding: 100px 0 70px 0;
  }
  .back_to_dash_sec {
    padding: 50px 0 100px 0;
  }
   .summary_container {
    padding: 25px;
    box-shadow: 5px 4px 8px 4px rgba(12,13,14,0.25);
  }
}