:local {
  .addressFieldsContainer {
    margin-top: 10px;
  }

  .fieldsContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;
  }

  .field {
    display: flex;
    flex-flow: column;

    flex-shrink: 0;
    min-width: 135px;

    padding: 0 10px 10px 0;

    border: 0;
    margin-right: 5px;

    label {
      color: #E8E7E0;
      font-weight: 600;

      margin-bottom: 5px;
    }

    input {
      height: 34px;
      width: 100%;
      padding-left: 5px;
    }

    &[disabled] {
      input { background-color: #545454; }
    }
  }

  .fieldStreet {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .fieldNumber {
    flex-basis: 20%;
    flex-grow: 1;
  }

  .fieldPostalcode {
    flex-basis: 25%;
    flex-grow: 2;
  }

  .fieldCity {
    flex-basis: 30%;
    flex-grow: 1;
  }

  .fieldCountry {
    flex-basis: 28%;
    flex-grow: 1;
    min-width: 130px;
  }

  .clearButton {
    $size: 82px;
    flex-basis: 2%;
    height: $size;
    line-height: $size;

    color: #E8E7E0;
    font-size: 25px;
    font-weight: 800;

    cursor: pointer;
    i { line-height: $size; }
  }
}
