:local {
  .icon {
   // background: -webkit-linear-gradient(#00E503, #00ACE5);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 16px;
  }
  .address {
    height: 92px;
    width: 118px;
    color: #212121;
    // font-family: ".SF NS Display";
    font-size: 16px;
    line-height: 23px;
  }

  .btn_sec{
    height: 227px;
    padding-top: 48px;
    border-top: 1px solid #EDEDED;
  }
  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .date_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .thank_you {
    height: 90px;
    width: 1001px;
    color: #2C2C2C;
    // font-family: ".SF NS Display";
    font-size: 32px;
    line-height: 45px;
  }
  .b_summ {
    height: 28px;
    width: 342px;
    color: #212121;
    // font-family: ".SF NS Display";
    font-size: 21px;
    line-height: 24px;
    padding-top: 70px;
  }
  .thank_box {
    height: 380px;
    padding-top: 48px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
  }
}