@import '../../styles/defaults';

:local {
  .icon {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 14px;
  }

  .address {
    height: 92px;
    width: 118px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
  }
  .sec_break {
    border-color: rgba(black, 0.03);
  }
 .btn_sec{
    padding: 100px 0 70px 0;
  } 
  .back_to_dash_sec {
    padding: 50px 0 100px 0;
  }
  .cargo_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .date_sec {
    min-height: 187px;
    border-top: 1px solid #EDEDED;
  }
  .thank_you {
    height: 90px;
    width: 1001px;
    color: #2C2C2C;
    font-size: 32px;
    line-height: 45px;
  }
  .terms_list li{
    word-break: break-word;
    margin-top: 5px;
    font-size: 12px;
  }
  .b_ref {
    height: 28px;
    width: 342px;
    color: #4F4F4F;
    font-size: 21px;
    line-height: 24px;
    padding-top: 20px;
  }
  .b_summ {
    background-color: #FCFCFC;
    box-shadow: 0 2px 4px 0 rgba(black, 0.17);
    margin-top: 65px;
  }
  .b_summ_top, .b_summ_bottom {
    padding: 35px;
  }
  .b_summ_top {
    border-bottom: 1px solid rgba(black, 0.04);
  }
  .wrapper_cargo {
    margin-bottom: 30px;
  }
  .tot_price {
    color: white;
    padding: 0 15px;
    height: 49px;
    width: 296px;
    border-radius: 50px;
  }
  .thank_box {
    height: 120px;
    padding-top: 48px;
  }
  // .shipment_card {
  //   padding: 15px;
  //   margin: 25px 0;
  //   box-shadow: 1px 2px 1px 1px lightgray;
  // }
  .sec_title_text {
    margin: 0;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 30px;

  }
  .sec_title {
    min-height: 75px;
  }
  .sec_title_text_normal {
    margin: 0;
    font-size: 30px;
  }
  .no_doc, .uploaded_doc {
    h4 {
      margin: 0;
    }
    h4, i {
      font-size: 14px;
    }
    p, h4 {
      margin-left: 10px;
    }
    p {
      font-size: 12px;
    }
  }
  .no_doc i {
    color: red;
  }
  .uploaded_doc i {
    color: rgb(13, 177, 75);
  }
  .main_panel {
    .inner_wrapper {
      padding: 15px;
      overflow-y: scroll;
    }
    transition: max-height 1s linear;
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
    &.collapsed {
      max-height: 0;
      overflow: hidden;
    }
  }
  .remark_box {
    white-space: pre-wrap;
  }
  .heading_style {
    background: lightgrey;
    padding: 0 15px;
    border-radius: 5px 5px 0 0;
    h3, p, i {
      margin: 5px;
    }
  }
  .inner_wrapper {
    padding: 15px;
  }
  .total_row {
    padding: 15px;
  }
  .toggle_on {
    opacity: 1;
    color: black;
  }
  .toggle_off {
    opacity: 0.75;
    color: lightgray;
  }
  .shipment_card {
    margin: 25px 0;
    padding: 5px 15px;
    box-shadow: 1px 2px 1px 1px lightgray;
  }
  .shipment_card_border {
    box-shadow: 1px 2px 1px 1px lightgray;
  }
  .shipment_card_itinerary {
    margin: 25px 0;
    box-shadow: 1px 2px 1px 1px lightgray;
    flex-grow: 1;
  }
  .contact_text{
    margin: 3px;
  }
  .showPanel {
    height: 100px;
    overflow: visible !important;
  }
  .hidePanel {
    height: 0px;
  }
  .panelDefault {
    transition: all 1.5s linear;
    overflow: hidden;
    position: relative;
  }
  .time_edit_button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .time_save_buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
  }
  .cargo_texts {
    padding: 10px;
  }
}