:local {
  .note_section {
    padding: 10px 0;
  }
  .notes_title {
    background: lightgrey;
  }
  .note_card {
    border: 2px solid lightgrey;
  }
  .note_header {
    background: lightgrey;
    padding: 5px;
  }
  .note_body {
    padding: 5px;
  }
}