:local {
  .place_map {
    height: 350px;
    position: relative;
  }
  
  .input {
    height: 36px;
    width: 195px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    padding: 0 10px;
  }
  
  .section {
    min-height: 150px;
  }
  .map_box {
    position: relative;
  }
  .loc_map{
    position: relative;
  }
  .overlay_auto {
    position: absolute;
    z-index: 25;
    top: 50px;
    left: 40px;
    box-shadow: 1px 2px 1px rgba(0,1,2,0.5);
  }
  
}