@import "../../styles/defaults";
 :local {
    .active_routes {
      height: max-content;
      box-shadow: 0 2px 5px rgba(black, .5);
      position: relative;
    }
    .active_route{
      height: 300px;
      width: 350px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .city {
      position: absolute;
      top: 20px;
      left: 58px;
      color: white;
      font-size: 40px;
      text-shadow: 0 1px 16px rgba(black,0.7);
      font-weight: normal;
    }
    .country {
      position: absolute;
      top: 70px;
      left: 58px;
      color: white;
      font-size: 24px;
      text-shadow: 0 2px 9px rgba(black,0.8);
    }
    .service_label{
      background-color: $light-grey;
      padding: 70px 0 40px 0;
      h2 {
        font-weight: normal;
      }
    }
    .fade {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right:0;
      background: rgba(1,12,13,0.45);
    }
    .slick_slide_ie11 {
      height: 350px;
      width: 450px;
      max-width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow-y: hidden; 
      overflow-x: hidden;
      padding-right: 20px;
    }
    .slick_slide {
      height: 350px;
      width: 450px;
      position: relative;
      .inner_wrapper {
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 1px !important;
      }
    }
    .one_slide .slick_slide {
      // width: 1200px !important;
      // max-width: 1200px !important;
    }
    .slick_content {
      position: absolute;
      height: 100%;
      min-height: 350px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .slick_city {
      position: absolute;
      top: 20px;
      left: 58px;
      color: white;
      font-size: 40px;
      text-shadow: 0 1px 16px rgba(black,0.7);
      font-weight: normal;
    }
    .slick_country {
      position: absolute;
      top: 70px;
      left: 58px;
      color: white;
      font-size: 24px;
      text-shadow: 0 2px 9px rgba(black,0.8);
    }
    .slider_container{
      width: 100%;
      height: 350px;

      *:not(.slick-list) {
        min-height: 0;
        min-width: 0;
        // height: 100%;
      }
      
    }
  }
