.active_routes {
  height: max-content;
}
.active_route{
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.city {
  background: -webkit-linear-gradient(#00E503, #00ACE5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(12,11,13,0.65);
}
.country {
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(12,11,13,0.65);
}
