:local {
  .info {
    color: #2C2C2C;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 2px 18px 18px 18px;
    background: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18);
    h4 {
    	font-weight: normal;
    }
		hr {
			border: 0.5px solid rgba(black, .02);
		}
		p {
			margin: 0;
			height: 18px;
			sup {
				font-size: 10px;
			}
		}
  }
  .open {
    height: max-content;
    overflow: visible;
    visibility: normal;
    width: 250px;
    position: absolute;
    z-index: 50;
  }
  .closed {
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .hs_cell {
    transition: all 1s bounce;
    height: max-content;
  }
  .cell_data_toggle {
    transition: all 1s bounce;
    background: whitesmoke;
  }
  .panel {
    padding: 0 10px;
    overflow: hidden;
    transition: all 2s linear;
  }
  .open_panel {
    max-height: none !important;
    opacity: 1 !important;
  }
  .closed_panel {
    max-height: 0 !important;
    opacity: 0;
  }
  .closed_panel.panel {
    padding: 0;
  }
  .closed_panel .detailed_row {
    padding: 0;
    margin-top: 0;
  }
  .detailed_row {
    padding: 5px 15px;
    margin-top: 5px;
    transition: all 1s linear;
  }
  .unit_data_cell {
    padding: 5px;
    border-right: 0.5px solid rgba(0,0,0,0.5);
  }
}