:local {
  .no_border_top {
    border-top: transparent !important;
    p {
      font-weight: bold;
      line-height: 24px;
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.02em;
    }
    span {
      font-weight: bold;
      line-height: 33px;
    }
  }
  .border_right {
    border-right: 2px solid #E0E0E0;
  }
  .border_bottom {
    border-bottom: 2px solid #E0E0E0;
  }
  .info_values {
    margin: 0;
  }
  .column_info {
    min-height: 100px;
    padding-right: 20px;
    border-bottom: 2px solid #E0E0E0;
    > * {
      &:last-child {
        border-bottom: 0;
      }
    }
    p {
      margin: 0;
    }
    span {
      font-size: 15px;
      line-height: unset;
      margin-right: 14px;
    }
  }
}