:local {
  @import '../../styles/defaults';

  .header {
    height: 70px;
    background-color: transparent;
  }
  
  .header_scrollable {
    position: relative !important;
    height: 70px;
    overflow-y: visible;
    background-color: rgba(255,255,255,0.9);
  }  

  img.logo {
    height: 50px;
  }
  img.wide_logo {
    width: 170px;
    height: auto;
  }
  .signin {
    height: 22px;
    width: 82px;
    color: #FFFFFF; 
    // font-family: ".SF NS Display";  
    font-size: 16px;  
    line-height: 18px;
  }
  .alert_bubble {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
  .unread {
    @extend .alert_bubble;
    color: white;
    font-size: 8px;
    background-color: red;
  }
  .all_read {
    @extend .alert_bubble;
    font-size: 8px;
    color: black;
    background-color: white;
  }
  .mail_box {
    position: relative;
    height: 22px;
    width: 22px;
    i {
      font-size: 18px;
    }
  }

}
