:local {
  .icon {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 24px !important;
    margin-top: 13px;
  }
  .contact_text{
    margin: 3px 0;
    word-wrap: break-word;
  }
  .address_buffer {
    margin-bottom: 15px;
  }
}
