:local {
  .wrapper_cargo_input {
    margin-bottom: 10px;
  }
  .cargo_input {
    height: 36px; 
    width: calc(100% - 10px);
    border: 1px solid #F2F2F2;  
    border-radius: 3px; 
    background-color: #F9F9F9;  
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .cargo_text_area {
    height: 112px;
    width: calc(100% - 10px);
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .f_header {
    color: #39393A;
    font-size: 16px; 
    line-height: 18px;
  }
  .prices h5, .prices h6{
    color: #39393A;
    font-size: 16px; 
    line-height: 20px;
    top: 0px;
  }
  .box_content {
    transition: all 1s ease;
    visibility: hidden;
    height: 0px;
    padding-top: 0px;
    overflow: hidden;
  }
  .box_content.show {
    visibility: visible;
    height: max-content;
    overflow: visible;
  }
  .box_content.hidden {
    // overflow: hidden;
    // height: 0px;
    // padding-top: 0px;
  }
  .incoterm_info {
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
  .no_customs_box {
    transition: all 1s ease;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }
  .no_customs_box.show {
    visibility: visible;
    opacity: 1;
    height: 230px;
  }
  .show {
    height: 250px;
  }
  .customs_box.show {
    height: 400px;
  }
  .customs_prices{
    margin: 10px 0;
    p {
      font-size: 12px;
      margin: 3px;
      border-bottom: 0.5px solid rgba(0,0,0,0.25);
    }
    h6 {
      margin: 5px;
       font-size: 14px;
    }
  }
  .customs_total{
    margin: 15px 0;
    p {
      font-size: 14px;
      margin: 3px;
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }
    h6 {
      margin: 5px;
      font-size: 16px;
    }
  }
  .insurance_customs_sec {
    background: rgba(200, 200, 200, .1);
    box-shadow: 0 0 10px rgb(200, 200, 200);
    padding: 30px 0 50px 0;
    margin: 80px 0 30px 0;
    width: 100%;
  }
  .textarea_margin {
    margin-bottom: 34px;
  }
  .textarea_incoterm {
    height: 90px;
  }
  .faded_text {
    color: rgba(0,0,0,0.35);
  }
  .EORI_input {
    border-radius: 5px;
    margin-bottom: 25px;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
    height: 35px;
    font-size: 12px;
  }
}