:local {
  .card_title_pricing {
    // background: -webkit-linear-gradient(left, rgb(13, 91, 169), rgb(35, 128, 42));
    max-width: 324px;
    min-height: 100px;
    position: relative;
    // margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  .card_over {
    // position: absolute;
    width: calc(100% - 6px);
    // height: calc(100% - 6px);
    margin: 3px;
    // min-width: 300px;
    min-height: 138px;
    background-color: white;
  }
  .center_items {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    i {
      font-size: 50px;
    }
    div {
      min-width: 150px;
      color: #4F4F4F;
      margin-left: 18px;
      h5 {
        font-size: 22px;
        margin: 0;
        text-transform: capitalize;
      }
      p {
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
  }
  .pricing_button {
    max-width: 324px;
    min-height: 52px;
    border: 7px solid #F2F2F2;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    // margin-right: 30px;
    cursor: pointer;
    font-weight: bolder;
    transition: all .3s ease;
    &:hover {
      border: 7px solid lightgrey;
    }
  }
  .pricing_search {
    &:first-child {
      padding-left: 14px;
    }
    max-width: 324px;
    min-height: 52px;
    border: 7px solid #F2F2F2;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
    transition: all .3s ease;
    &:hover {
      border: 7px solid lightgrey;
    }

    input {
      border: none;
      background: transparent;
      width: 100%;
      height: 40px;
      &:focus {
        outline: none;
      }
    }
  }
  .flex_titles {
    margin-top: 68px;
  }
  .card_route_pricing {
    padding: 20px;
    background-color: #F2F2F2;
    min-height: 126px;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
      background-color: lightgrey;
    }
  }
  .top_routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #828282;
    padding-bottom: 12px;
    div p {
      margin-bottom: 4px;
      margin-top: 0;
    }
    i {
      font-size: 25px;
    }
  }
  .bottom_routes {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
      margin-top: 12px;
    }
  }
  .newsfeed {
    font-size: 15px;
    color: #828282;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  @media only screen and (max-width: 460px) {
    .flex_titles > * {
      margin-right: 0 !important;
    }
  }
  .tip {
    padding: 10px;
    font-size: 12px;
  }
}
