.card-title-pricing {
  border: 3px solid green;
  // background: -webkit-linear-gradient(left, rgb(13, 91, 169), rgb(35, 128, 42));
  min-width: 324px;
  min-height: 145px;
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.center-items {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  i {
    font-size: 50px;
    color: #074080;
  }
  div {
    min-width: 150px;
    color: #4F4F4F;
    margin-left: 18px;
    h5 {
      font-size: 22px;
      margin: 0;
      text-transform: capitalize;
    }
    p {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}
.titles-btn {
  min-width: 324px;
  min-height: 52px;
}
.pricing-button {
  min-width: 324px;
  min-height: 52px;
  border: 7px solid #F2F2F2;
  box-sizing: border-box;
  margin-top: 20px;
  position: relative;
  margin-right: 30px;
}
.flex-titles {
  display: flex;
  justify-content: space-around;
}
.card-route-pricing {
  padding: 20px;
  background-color: #F2F2F2;
  max-width: 290px;
  max-height: 126px;
  margin-top: 20px;
  position: relative;
}
.top-routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #828282;
  padding-bottom: 12px;
  div p {
    margin-bottom: 4px;
    margin-top: 0;
  }
}
.bottom-routes {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
    margin-top: 12px;
  }
}
