:local {
  .show_results {
    position: absolute;
    width: 100%;
    top: 45px;
    right: 0;
    left: 0;
    z-index: 20;
    background: #FFFFFF;
  }
  .hide_results {
    height: 0;
    display: none;
  }
  .autocomplete_container {
    position: relative;
    z-index: 21;
  }
  .autocomplete_inner {
    position: relative;
    background: #FFFFFF;
    height: 100%;
  }
  .autocomplete_container .autocomplete_input{
    background: #FFFFFF;
    font-size: 16px;
    z-index: 25;
  }
  .autocomplete_card {
    background: #FFFFFF;
    padding: 5px 8px;
    margin: 2px 0;
    border-bottom: 1px solid grey;
  }
  .autocomplete_card.highlighted {
    height: 50px;
    background: #FFFFFF;
    margin: 2px 0;
    padding: 8px 10px;
    font-size: 18px;
  }
  .results_section {
    padding: 0px 2px;
  }
  .results_section_header {
    position: relative;
    background: rgb(124, 124, 124);
    color: #fff;
    padding: 5px 10px;
    p {
      font-size: 14px;
    }
  }
  .autocomplete_input.with_errors {
    input { 
      background-color: #FAD1CA;
      color: rgb(211, 104, 80);
      &::placeholder {
        color: rgb(211, 104, 80);
      }}
      top: -5px;
  }
  .exit_click {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  .hidden {
    display: none;
  }
}
