:local {
  .location-box {
    position: relative;
    height: 200px;
    margin: 15px 15px 0 0;
    padding: 0;
    border: 1px solid #c7c7c7;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
    -webkit-border-radius: 3px;
    border-radius: 3px;

    .header {
      height: 23px;
      padding: 5px;

      h3 {
        margin: 0;

        &.standard {
          color: black;
        }

        &.other {
          color: #5e5e5e;
        }

      }

      .makePrimary {
        font-size: 70%;
        position: relative;
        top: -4px;
        left: 12px;
        border: 1px solid rgb(220, 220, 220);
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding-left: 8px;
        padding-right: 6px;
        padding-bottom: 3px;
        margin-right: 8px;
        box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
        background: linear-gradient(rgb(255, 255, 255) 5%, rgb(246, 246, 246) 100%) rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        font-weight: bold;
        text-shadow: rgb(255, 255, 255) 0px 1px 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
          background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
          background-color: #f6f6f6;
        }

        &:active {
          top: -3px
        }

      }

      border-bottom:1px solid #c7c7c7;
    }

    .content {
      margin: 15px;
      font-size: 87%;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #efefef;
      border-top: 1px solid #c7c7c7;
      border-right: 1px solid #c7c7c7;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 7px 0 7px 0;

      div {
        margin: 1px;

        span {
          margin-right: 5px;
        }

      }

    }

  }

  .new-address {
    cursor: pointer;
    border: 2px dashed #c7c7c7;
    box-shadow: none;

    div {
      h3 {
        margin: 5px 0;
        color: #6b6b6b;
      }

    }

    .plus-icon {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gMfFBUB8Kc3yAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAABmJLR0QA/wD/AP+gvaeTAAAAP0lEQVRYw+3UsQkAMAwDsPz/o29pHkjnlCKDV6PJVb8myZkKBgYGBgYGBvYg7Da+VTAwMD8GBgYGBgYGBraWBpeqjFTlGtDAAAAAAElFTkSuQmCC) left center no-repeat;
      width: 38px;
      height: 50px;
    }

  }

  .input {
    height: 36px;
    width: 195px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    padding: 0 10px;
  }

}
