:local {
  .location-box {
    position: relative;
    min-height: 170px;
    // margin: 15px 15px 0 0;
    padding: 0;
    border: 1px solid #BDBDBD;

    .header {
      height: 40px;
      padding: 5px;
      color: black;
      i {
        color: #BDBDBD;
      }

      h3 {
        margin: 0;

        &.standard {
          color: black;
        }

        &.other {
          color: #5e5e5e;
        }

      }

      .makePrimary {
        position: relative;
        // -webkit-user-select: none;
        // -moz-user-select: none;
        // -ms-user-select: none;
        // user-select: none;

        // &:hover {
        //   background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        //   background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        //   background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        //   background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        //   background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        //   background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
        //   background-color: #f6f6f6;
        // }

        &:active {
          top: -3px
        }

      }
    }

    .content {
      padding-left: 12px;
      font-size: 87%;
      p {
        padding-bottom: 10px;
        font-size: 16px;
        margin: 0;
      }
    }
  }
  .icon_primary {
    padding-right: 12px;
  }
  .input_box {
    margin: 10px 0;
    padding: 5px;
  }
  .icon_trash {
    padding-left: 12px;
  }

  .new-address {
    border: 2px dashed #c7c7c7;
    box-shadow: none;
    width: 100%;

    div {
      h3 {
        margin: 5px 0;
        color: #6b6b6b;
      }
    }
    .plus-icon {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gMfFBUB8Kc3yAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAABmJLR0QA/wD/AP+gvaeTAAAAP0lEQVRYw+3UsQkAMAwDsPz/o29pHkjnlCKDV6PJVb8myZkKBgYGBgYGBvYg7Da+VTAwMD8GBgYGBgYGBraWBpeqjFTlGtDAAAAAAElFTkSuQmCC) left center no-repeat;
      width: 38px;
      height: 50px;
    }

  }
  .nav_card {
    margin: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    width: calc(100% - 30px);
    &:focus {
      outline: none;
    }
    &:hover {
      margin: -1px 1px 1px -1px;
      box-shadow: 1px 1px 1px rgba(black, 0.3);
    }
    &:active {
      margin: 0;
      box-shadow: none;
    }
  }
  .input {
    height: 36px;
    width: 195px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
    padding: 0 10px;

  }

  .section {
    min-height: 150px;
  }
  .currency_box {
    border-left: 2px solid #E0E0E0;
  }
  .currency_grey {
    p {
      padding: 8px 16px;
      background-color: #E0E0E0;
    }
    span {
      padding: 3.5px 11px;
      border: 4px solid #E0E0E0;
    }
  }
  .set_size {
    height: 39px;
  }
  .margin_top {
    margin-top: 15px;
  }
  .input_style {
    background-color: white !important;
    border-bottom: 1px solid #BDBDBD !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
  }
  .margin_label {
    margin-bottom: 15px;
  }
  .content_details {
    padding: 18px 18px 18px 4vw;
    > div {
      padding: 12px;
    }
  }
  .edit_icon {
    cursor: pointer;
  }
  .profile_edit_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .save {
    font-size: 15px;
    color: #219653;
    cursor: pointer;
  }
  .cancel {
    margin: 0px 10px;
    font-size: 15px;
    color: red;
    cursor: pointer;
  }
  .map_box {
    position: relative;
  }
  .loc_map{
    position: relative;
  }
  .loc_info {
    height: 220px;
  }
  .paginate_box {
    height: 550px;
    margin: 15px 0;
  }
  .overlay_auto {
    position: absolute;
    z-index: 25;
    top: 50px;
    left: 40px;
    box-shadow: 1px 2px 1px rgba(0,1,2,0.5);
  }
  .new_contact {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .location_address {
      padding: 15px 15px 15px 15px;
    i {
      font-size: 25px;
    }
  }
  .new_contact_backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    background: rgba(2,3,1,0.25);
  }
  .new_contact_content {
    width: 650px;
    height: 435px;
    position: fixed;
    top: 208px;
    z-index: 85;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  }
  .conditions_box {
    > * {
      margin-bottom: 15px;
    }
    padding: 10px 20px;
    p {
      font-size: 12px;
    }
    button {
      width: 90px;
    }
  }
  .text_right {
    text-align: right;
  }
  .text_center {
    text-align: center;
  }
  .input {
    margin: 5px 5px 15px;
    height: 36.91px;
    width: 80%;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
  }
  .input_100 {
    width: 100%;
  }
  .input_50 {
    width: 50%;
  }
  .input_33 {
    width: 33%;
  }
  .input_60 {
    width: 66%;
  }

  .contact_header, .contact_header p {
    color: #4F4F4F;
    font-size: 16px;
    line-height: 18px;

  }
  .btn_row {
    padding: 25px;
  }
  .btn_alignment {
    padding-right: 0px !important;
  }
  .contact_header i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  .username_title {
    padding: 2vw;
    h1 {
      font-size: 35px;
      margin: 0 !important;
      color: #4F4F4F !important;
    }
    p {
      color: #4F4F4F !important;
      font-size: 28px;
      margin: 0;
      margin-bottom: -4px;
    }
  }
.dashboard_top {
    // margin-top: 70px;
    height: 400px;
    overflow-y: hidden;
      overflow-x: hidden;
}
.dashboard_mid {
    margin-top: 400px;
}
.left {
    height: 100%;
    position: relative;
}
.right {
    height: 80%;
    position: absolute;
    z-index: 10;
    width: 50%;
    right: 0;
    top: 0;
}
.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    overflow-y: hidden;
      overflow-x: hidden;
}
// .welcome {
//     position: absolute;
//     top: 10px;
//     left: 15px;
//     color: whitesmoke;
//     letter-spacing: 4px;
//     z-index: 11;
// }
.stat_box {
    width: 50%;
    height: 50%;
    position: relative;
    h1 {
      color: #FFFFFF;
    }
    text-shadow: 1px 1px 2px rgba(0,1,2, 0.5);
  }
.stat_box_title {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    width: 100%;
}
.dash_btn {
    height: 75px;
    width: 50%;
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 10;
}
  .ship_row {
    margin: 2px 0;
    border: 1px solid rgba(0,1,2,0.1);
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(237, 234, 234, 0.5);
  }
  .ship_row_cell {
    padding: 3px;
    // border-right: 1px solid rgba(1,2,3,0.25);
  }
  .content_drop {
    // margin: 2px 0;
    // border: 1px solid rgba(0,1,2,0.1);
    border-radius: 2px;
    box-shadow: 10px 12px 3px 5px rgba(237, 234, 234, 0.5);
  }
  .dashboard_fade{
    background: rgba(0,10,12,0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 8;
  }
  .headerElement {
    padding: 20px 30px;
    padding-left: 0;
  }
  .welcome {
    font-size: 25px;
  }
  .sectionpart {
    height: 400px;
    min-height: 300px;
  }
  .space {
    margin-bottom: 20px;
    span {
      cursor: pointer;
    }
  }
  .separator {
    height: 1px;
    border: 1px solid lightgrey;
  }
  .bigProfile {
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 20px;
  }
  .tile_padding {
    padding: 10px;
  }

  .location_spacing {
    margin-left: 10px;
  }

  .spinner {
    opacity: 0.6;
    margin: -50px 0px;
  }

}
