:local {
	form.reset_password_form {	
		hr {
			border: .5px solid rgb(10, 10, 10);
			margin: 0 0 30px 0;
		}
		.form_control {
			font-size: 14px;
			background: transparent;
			border: none;
			border-radius: 4px;
			width: 100%;
			padding: 6px 0;
			&:focus {
				outline: none;
				background: rgba(black, .003);
			}
		}
		.form_group_submit_btn {
			padding-top: 25px;
			position: relative;
			.spinner {
				opacity: 0.6;
		    position: absolute;
		    top: 26px;
		    right: 55px;
		    transform: scale(0.25);
		    transform-origin: top right;
			}
		}
	}
}