:local {
  .input_box {
    // min-height: 550px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 15;
    background: rgba(1,2,3,0.55);
    transition: all 0.3s ease;
  }
  .input_box.with_errors {
    height: 87px;
  }
  
  .select {
    width: 195px;
  }
  .input {
    height: 36px;
    width: 195px;
    border: 1px solid #F2F2F2;
    margin: 2px;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
  }
  .slbox {
    min-height: 550px;
    height: max-content;
    padding: 15px 0;
  }
  .map_container {
    position: relative;
  }
  .toggle_box {
    padding: 15px 10px;
  }
  .toggle_box label {
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .search_box {
    padding: 10px 5px;
  }
}