:local {
  .input_box {
    padding: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 87px;
    width: 100%;
    z-index: 25;
    background: rgba(black, 0.55);
    transition: all 0.3s ease;
  }
  .input_box.with_truck_types {
    padding-bottom: 5px;
  }
  .input_box.with_errors {
    height: 115px;
    .btn_address_form {
      top: 33px;
    }
    .address_form {
      margin-top: 33px;
    }
  }
  .select {
    width: 100%;
    margin: 3px 0;
  }
  .input_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    input {
      width: 100%;
    }
  }
  .input {
    height: 36px;
    width: 195px;
    border: 1px solid #F2F2F2;
    margin: 3px 0;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 2px 3px 0 rgba(237,234,234,0.5);
    padding: 0 10px;
  }
  .input.with_errors {
    background-color: #FAD1CA;
    color: rgb(211, 104, 80);
    &::placeholder {
      color: rgb(211, 104, 80);
    }
  }
  .slbox {
    min-height: 550px;
    height: max-content;
    padding-top: 15px;
  }
  .map_container {
    position: relative;
    width: 100%;
  }
  .toggle_box {
    padding: 20px 10px;
  
    position: relative;
    &.not_available {
      opacity: 0.85;
    }
  }
  .errors {
    text-align: center;
    background: transparent;
    font-size: 12px;
		left: 0;
		bottom: -25px;
		color: rgba(black, 0.5);
		width: max-content;
		white-space: nowrap;
  }
  .no_errors {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .toggle_box_overlay {
    background: black;
    opacity: 0;
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    height: 40px;
    left: 0;
    right: 0;
    z-index: 10;
    cursor: not-allowed;
  }
  .toggle_box label {
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .search_box {
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .address_form {
    background: rgba(30, 30, 30, 0.5);
    margin-top: 6.5px;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: 500;
    overflow: hidden;
    height: 0;
    transition: all 0.6s ease-in, margin-top 1ms;
    .address_form_title {
      background: #E8E7E0;    
      margin-bottom: 16px;
      margin-top: 6px;
      p {
        letter-spacing: 2px;
        font-weight: normal;
        margin: 10px auto;
        color: black;
      }
    }
    .clear_sec {
      margin-left: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.8;  
      &:hover {
        opacity: 1;
      }
    }
  }
  .btn_address_form {
    background-color: #E8E7E0;
    position: absolute;
    top: 6.5px;
    margin: auto;
    width: 100%;
    height: 14px;
    min-height: 14px;
    border-radius: 3px;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.15s ease;
    i {
      transition: opacity 0.5s ease;
      transition-delay: 0.15s;
      position: absolute;
      bottom: -1px;
    }
    i.up {
      opacity: 1;
    }
    i.down {
      opacity: 0;
    }
  }
  .btn_address_form.hidden {
    opacity: 0;
    i.up {
      visibility: hidden;
    }
    i.down {
      visibility: hidden;
    }    
  }
  .address_form_wrapper.visible {
    .address_form {
      height: 315px;
    }
    .btn_address_form {
      i.up {
        opacity: 0;
      }
      i.down {
        opacity: 1;
      }
    }
  }
  .address_form_wrapper {
    position: relative;

  }

  .fa_exchange_style {
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.1s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      margin: -1px 1px 1px -1px;
      text-shadow:  1px 1px 2px rgba(black, 0.3);
    }
    &:active {
      margin: 0;
      box-shadow: none;
    }
  }
  .trucking_text {
    color: white;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 20px;
  }
  .show_results {
    position: absolute;
    width: 100%;
    top: 45px;
    right: 0;
    left: 0;
    z-index: 20;
    background: #FFFFFF;
  }
  .hide_results {
    height: 0;
    display: none;
  }
  .autocomplete_container {
    position: relative;
    z-index: 21;
  }
  .autocomplete_inner {
    position: relative;
    background: #FFFFFF;
    height: 100%;
  }
  .autocomplete_container .autocomplete_input{
    background: #FFFFFF;
    font-size: 16px;
    z-index: 25;
  }
  .autocomplete_card {
    background: #FFFFFF;
    padding: 5px 8px;
    margin: 2px 0;
    border-bottom: 1px solid grey;
  }
  .autocomplete_card.highlighted {
    height: 50px;
    background: #FFFFFF;
    margin: 2px 0;
    padding: 8px 10px;
    font-size: 18px;
  }
  .results_section {
    padding: 0px 2px;
  }
  .results_section_header {
    position: relative;
    background: rgb(124, 124, 124);
    color: #fff;
    padding: 5px 10px;
    p {
      font-size: 14px;
    }
  }
  .autocomplete_input.with_errors {
    input { 
      background-color: #FAD1CA;
      color: rgb(211, 104, 80);
      &::placeholder {
        color: rgb(211, 104, 80);
      }}
      top: -5px;
  }
  .exit_click {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  .hidden {
    display: none;
  }
}
