:local {
  .carriage_label {
    color: white;
    padding: 20px 10px 0 10px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
  }
  label > * {
    margin-right: 15px !important;
  }
}