:local {
  .price_row {
    span {
      padding-left: 10px;
      font-weight: 800;
    }
    p {
      padding-right: 10px;
      font-size: 21px;
      text-align: right;
      letter-spacing: 0.02em;
      font-weight: 800;
    }
  }
  
  .sub_price_row {
    background: #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    span {
      padding-left: 75px;
      font-weight: normal;
      line-height: normal;
      font-size: 11px;
      letter-spacing: 0.02em;
    }
    p {
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
  .currency_header {
    background: rgb(243, 243, 243);
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    span {
      padding-left: 50px;
      padding-right: 20px;
      line-height: normal;
      font-size: 12px;
      letter-spacing: 0.02em;
    }
    p {
      font-weight: 900;
      font-size: 15px;
      margin-right: 25px;
      letter-spacing: 0.02em;
    }
  }
  .cargo_summary {
    padding: 10px 25px;
    background: rgb(230, 228, 228)
  }
  .item_dims {
    font-size: 10px;
  }
  .sub_price {
    padding-right: 20px;
  }
  .chargeable_weight {
    font-size: 10px;
  }
  .small_headers {
    font-size: 80%;
    .chargeable_weight {
      font-size: 8px;
    }
    p {
      font-size: 14px;
    }
  }
}