:local {
  .price_row {
    div:first-child {
      width: 5px;
      height: 5px;
      // background: #F8F8F8;
      border-radius: 50%;
      margin-left: 10px;
    }
    span {
      padding-left: 10px;
    }
    p {
      padding-right: 10px;
      font-size: 21px;
      text-align: right;
      letter-spacing: 0.02em;
      font-weight: 800;
    }
  }
  .sub_price_row {
    background: #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    span {
      padding-left: 75px;
      font-weight: bold;
      line-height: normal;
      font-size: 11px;
      letter-spacing: 0.02em;
    }
    p {
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
  .currency_header {
    background: rgb(228, 222, 222);
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    span {
      padding-left: 50px;
      padding-right: 20px;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    p {
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
}